<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/procedimento/busca.js"></script>
</head>

<body>
    <section layout:fragment="corpo">
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

                    <div class="btn-group">
                        <button type="button" class="btn" id="dropdownMenu2" value="1">Descrição</button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" value="1" onclick="muda()">Descrição</button>

                        </div>
                    </div>
                    <div id="divBusca">
                        <input type="text" id="txtBusca" placeholder="Buscar..." />
                        <button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end login">
                        <div class="mr-3"style="color: white; size: 50%;"> Olá, <a th:text="${usuarioLogado}"></a></div>

                        <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
                            <div class="btn-group mb-2 mr-sm-2">
                                <button type="button" class="btn btn-light">
                                    <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
                                </button>
                                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    <button type="submit" class="dropdown-item">Sair</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </nav>
            <div class="container ajustarTexto">
                <div th:replace="fragmentos/alert" class="container"></div>
                <div th:replace="fragmentos/modal" class="container"></div>
            </div>

            <div class="container ">
                <div>

                </div>

                <form th:action=" @{/procedimentos/salvar} " th:object="${procedimento}" method="POST">
                    <div th:each="c : ${convenio}">
                        <h3 style="display: inline; margin-left: 10px;"> <strong th:text="${c.nome + ' | ' }">   </strong> Cadastro Procedimento</h3>
                        <a class="btn btn-outline-secondary float-right" th:href="@{/convenios/editar/{id} (id=${c.id}) }"> <i class="fas fa-chevron-left"></i> Voltar</a>
                        <button type="submit" class="btn btn-outline-primary float-right mr-2">Salvar</button>
                        <br>
                    </div>
                    <div class="card" style="margin-top: 25px; padding: 0px;">
                        <div class="card-body">
                            <div class="form-row ">
                                <div class="form-group col-md-4 " style="margin: auto;">

                                    <br>
                                    <label for="nome"> Nome </label>
                                    <input type="text" class="form-control" id="nome" placeholder="Nome do Procedimento" autofocus="autofocus" th:field="*{descricao}" onkeyup="maiuscula(this)" maxlength="30" required>

                                    <br>
                                    <label for="nome"> Valor </label>
                                    <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor do Procedimento" th:field="*{valor}" required>

                                    <br>

                                    <select id="convenio_id" class="form-control" th:field="*{convenio.id}" hidden>
                                        <option th:each="c : ${convenio}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select>

                                    <br>
                                    <br>

                                    <input type="hidden" id="id" th:field="*{id}" />

                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>