<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
<section layout:fragment = "corpo">

	<div class="container corpo" id="cadastroTipoConvenio">
				<div class="container" style="margin-left: 30%;">
				<br><br>
					<div th:replace="fragmentos/alert" ></div>
				</div>
			
			<form th:action=" @{/procedimentos/salvar} " th:object="${procedimento}" method="POST">
			
				<div class="form-row ">
					<div class="form-group col-md-4 " style="margin-left: 35%;">
						<h4>Cadastro <strong>| Procedimento  </strong></h4>
						
						<label for="nome"> Nome </label>
						<input type="text" class="form-control" id="nome" placeholder="Nome do Procedimento" autofocus="autofocus" th:field="*{descricao}" onkeyup="maiuscula(this)" 
						maxlength="30" >
						
						
						<br>
						<label for="nome"> Valor </label>
						<input type="text" class="form-control" id="valor" name="valor" placeholder="Valor do Procedimento"  th:field="*{valor}" >
						
						<br>
						<label for="Convenio">Convenio</label>
							<select id="convenio_id" class="form-control" th:field="*{convenio}">
								
								<option th:each="c : ${convenios}" th:value="${c.id}" th:text="${c.nome}"></option>
							</select>
						<br>
						<input type="hidden" id="id" th:field="*{id}"/>
						
					</div>
				
				</div>
				
			<div  style="margin-left: 30%;">
				<input type="submit" class="btn btn-primary form-control col-md-4"  value="Salvar">
				<input type="button" class="btn btn-secondary form-control col-md-4" onclick="location.href = document.referrer;"  value="Voltar">
				
			</div>
			
			</form>
		
		
		</div>
</section>
</body>
</html>