<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/js/procedimento/modal.js"></script>
<script type="text/javascript" src="/js/procedimento/editar.js"></script>
</head>
<body>
<section layout:fragment = "corpo">
	<br>
	<div class="container " id="cadastroTipoConvenio">
				<div class="container" style="margin-left: 30%;">
				<br><br>
					<div th:replace="fragmentos/alert" ></div>
					<div th:replace="fragmentos/modal" ></div>
				</div>
			
			<form th:action=" @{/procedimentos/editar } " th:object="${procedimento}" method="POST">
			
				<h4  class="text-center"><strong th:text="${procedimento.descricao} + ' | ' "> </strong> Informações </h4>
				
				<br><br>
				
					<div  class="btnCRUD float-right" id="div_botao" >
						
						<button class="btn btn-primary  mr-2" id="btn_editar" style="margin-left: 10px;" type="button" onclick="executar(this)">Editar</button>	
						<button th:id="${procedimento.id}" type="button" class="btn btn-danger classid " data-toggle="modal" data-target="#myModal">Excluir</button>			
					</div>
				
				<br><br>
				<div class="form-row" style="margin-left: 26%;">
					<div class="form-group col-md-4 ">
							<label for="descricao">Descrição</label>
							<input type="text" class="form-control text-center" id="nome" th:field="*{descricao}" onkeyup="maiuscula(this)" disabled>
							
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-4 ">
							<label for="valor">Valor</label>
							<input type="text" class="form-control text-center" id="valor" th:field="*{valor}"  disabled>
					
						<div class="invalid-feedback"></div>
					</div>
					
					<input type="hidden"   class="convenioid" th:id="${procedimento.convenio.id}"/>
					<input type="hidden" id="id" th:field="*{id}"/>
					
					<input type="hidden"   th:field="*{convenio.id}"/>

				</div>
				
				
				<br>
				<div  style="margin-left: 38%;">
					<a  class="btn btn-secondary form-group col-md-5" th:href="@{/procedimentos/listar/{id} (id=${procedimento.convenio.id}) }"> Voltar</a>
				</div>
			
			</form>
		
		
		</div>
</section>
</body>
</html>