<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
	<div class="container" style="margin-left: 35%;">
			<div th:replace="fragmentos/alert"></div>
			<div th:replace="fragmentos/modal :: modal"></div>
		</div>
		<br><br><br>
		
			<div  style="margin-left:40%;" >
				<label for="nome">Nome</label> 
				<label for="nome" style="margin-left:30%;" >Valor</label> 
			</div>
			
			
			
			
			
		<div style="margin-left: 25%;">
			<div class="container" th:each="p : ${procedimento}">

				<div class="form-row">
					<div class="form-group col-md-4">
						<input type="text" class="form-control text-center" id="nome"
							th:value="${p.descricao}" disabled>
							
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-4">
						<input type="text" class="form-control text-center" id="nome"
							th:value="|R$ ${{p.valor}}|" disabled>
							
						<div class="invalid-feedback"></div>
					</div>
					
					
					
					<div class="form-group col-md-2">
						<a class="btn btn-info btn-sm"
							th:href="@{/procedimentos/editar/{id} (id=${p.id}) }" role="button">
							<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
						</a>
						<button
							th:id="${#strings.concat ('/btn_procedimentos/excluir/',p.id,'/',p.convenio.id)}"
							type="button" class="btn btn-danger btn-sm" data-toggle="modal"
							data-target="#myModal">
							<span class="oi oi-circle-x" title="Excluir covenio"
								aria-hidden="true"></span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>