<!DOCTYPE html >
<html >
<head>
<meta charset="UTF-8" />
	
</head>
<body>
	<div  th:fragment="resultsList">
		<div class="card-body">
			<table class="table table-borderless text-center">
				<thead>
					<tr style="color: #5d6266; font-size: 1em;">
						
						<th>Médico</th>
						<th>Especialidade</th>
						<th>Data</th>
						<th>Hora</th>
						<th>Primeira Vez</th>
						<th>Compareceu</th>
						<th>Obs</th>
					</tr>
				</thead>
				<tbody th:each="a : ${agenda}">
					<tr class="conteudo " style="font-size: 1em;">
						
						
						<td><a th:text="${a.funcionario.nome}"></a></td>
						<td><a th:text="${a.funcionario.especialidade}"></a></td>
						<td><a th:text="${#temporals.format(a.data, 'dd/MM/yyyy')}"></a></td>
						<td><a th:text="${#temporals.format(a.hora, 'HH:mm')}"></a></td>
						<td><a th:text="${a.primeira_vez == 1} ? 'SIM' : 'NÃO' "></a></td>
						<td><a th:text="${a.compareceu == 1} ? 'SIM' : 'NÃO' "></a></td>
						<td th:if="${a.observacao != null}">
                         <a href="#"  title="Cliquei aqui para mostrar as informações sobre esse agendamento" data-toggle="modal" data-target="#modalObservacao" th:attr="data-observacao=${a.observacao}"> Observações</a>
                                </td>
					</tr>
				</tbody>
			</table>
		</div>
		 
		<div th:if="${agenda.totalPages > 0}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${agenda.hasPrevious()}">
						<a class="page-link" onclick="primeiraPagina()" href="#"> 
							<span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item"  th:each="p : ${pageNumbers}" th:classappend="${p==agenda.pageable.pageNumber + 1} ? active">
						<a class="page-link" th:text=${p} onclick="mudaPágina(this)" href="#"> </a>
					</li>
					<li class="page-item" th:if="${agenda.hasNext()}">
						<a class="page-link" onclick="ultimaPagina()" href="#"> 
							<input type="hidden" id="ultimaPagina" th:value="${agenda.totalPages}">
							<span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div> 
		<div th:replace="fragmentos/modalObservacao" ></div>
		<script type="text/javascript" src="/sismed/js/agenda/observacao.js"></script>
	</div>
	
</body>
</html>