
<!DOCTYPE html >
<html >
<head>
<meta charset="UTF-8" />
</head>
<body>
	<header class="text-center" th:fragment="cabecalho">
		SISMED
	<div class="text-right" style="margin-right:50px;" >
			<script src="/js/data.js"></script>
			<label ID="Clock">00:00:00</label>
            <script src="../js/hora.js"></script>
		</div>
	<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #D7E7F9;">
			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item "><a class="nav-link text-dark" href="/agenda/agendamentos" title = "Agenda do dia">Agenda</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/RegistroClinico/" title = "Registro Clinico">Registro Clinico</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/funcionario/listar" title = "Funcionario Cadastrado">Funcionarios</a></li>
					
					<li class="nav-item "><a class="nav-link text-dark" href="/pacientes/listar" title = "Pacientes Cadastrados">Pacientes</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/convenios/listar" title = "Lista de convenios">Convenios</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/exame/listar" title = "Informações sobre exames feitos">Exames</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/laboratorio/listar" title = "Laboratórios cadastrados">Laboratórios</a></li>
					<li class="nav-item "><a class="nav-link text-dark" href="/relatorios/listar" title = "Relatorio do Dia">Relatório</a></li>
				</ul>
			</div>
		</nav>
	
	</header>
</body>
</html>