
<!DOCTYPE html >
<html >
<head>
<meta charset="UTF-8" />
</head>
<body>
	

        <nav id="sidebar" th:fragment="sidebar">
            <div class="sidebar-header detalhes">
                <a class="btnVoltar" href="/"><h3>SISMED</h3></a>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/"><i class="fas fa-home" style="margin-right: 15px;"></i>Início</a>
                </li>
                <li>
                    <a href="/agenda/agendamentos"><i class="fas fa-calendar-alt" style="margin-right: 15px;"></i>Agenda</a>
                </li>
                <li>
                    <a href="/pacientes/listar"><i class="fas fa-user" style="margin-right: 15px; "></i>Pacientes</a>
                </li>
                <li>
                    <a href="/funcionario/listar"><i class="fas fa-user-md" style="margin-right: 15px;"></i>Funcionários</a>
                </li>
                <li>
                    <a href="/convenios/listar"><i class="fas fa-notes-medical" style="margin-right: 15px;"></i>Convênios</a>
                </li>
                <li sec:authorize="hasAnyAuthority('MEDICO', 'ADMIN')">
                    <a href="/RegistroClinico/buscar"><i class="fas fa-file-medical" style="margin-right: 15px;"></i>Regsitro Clínico</a>
                </li>
                <li>
                    <a href="/laboratorio/listar"><i class="fas fa-vial" style="margin-right: 15px;"></i>Laboratórios</a>
                </li>
                <li>
                    <a href="/exame/listar"><i class="fas fa-briefcase-medical" style="margin-right: 15px;"></i>Exames</a>
                </li>
                <li>
                    <a href="/relatorio/listar"><i class="fas fa-stream" style="margin-right: 15px;"></i>Relatório</a>
                </li>
            </ul>
        </nav>
       
        
</body>
</html>