<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8" />
		<script>
			$(document).ready(function() {
				$( function() {
					$("#txtBusca").autocomplete({
						source: "listar/1",
						minLength: 1,
						select: function (event, ui) {
							url = "http://localhost:8080/RegistroClinico/cadastrarpac/" + ui.item.value;
							document.location.href = url;
							return false;
						}
					});
				});
			});
			function muda() {
				$("#dropdownMenu2").text("Prontuário");
				$("#dropdownMenu2").val("1");
				$( function() {
					$("#txtBusca").autocomplete({
						source: "listar/1",
						minLength: 1,
						select: function (event, ui) {
							url = "http://localhost:8080/RegistroClinico/cadastrarpac/" + ui.item.value;
							document.location.href = url;
							return false;
						}
					});
				});
			}
			function muda2() {
				$("#dropdownMenu2").text("Nome");
				$("#dropdownMenu2").val("2");
				$( function() {
					$("#txtBusca").autocomplete({
						source: "listar/2",
						minLength: 2,
						select: function (event, ui) {
							url = "http://localhost:8080/RegistroClinico/cadastrarpac/" + ui.item.value;
							document.location.href = url;
							return false;
						}
					});
				});
			}
		</script>
	</head>

	<body>
		<section layout:fragment="corpo">
			<nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
				<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
					<div class="dropdown">
						<a class="dropbtn" data-toggle="dropdown" href="#"><i class="fa fa-plus fa-fw"></i>Novo</a>
						<div class="dropdown-content">
							<a href="#">Agendamento</a>
							<a href="/pacientes/cadastrar">Paciente</a>
							<a href="#">Funcionário</a>
							<a href="/convenios/cadastrar">Convênio</a>
							<a href="#">Exame</a>
							<a href="#">Laboratório</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn" id="dropdownMenu2" value="1">Prontuário</button>
						<button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<button class="dropdown-item" type="button" value="1" onclick="muda()">Prontuário</button>
							<button class="dropdown-item" type="button" value="2" onclick="muda2()">Nome</button>
						</div>
					</div>
					<div id="divBusca">
						<input type="text" id="txtBusca" placeholder="Buscar..." />
						<button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
					</div>
					<div class="collapse navbar-collapse justify-content-end login">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="mr-4">Bem vindo</a>
							</li>
							<li class="nav-item">
								<a href="#" class="decoration"><i class="fas fa-sign-out-alt"></i> Sair</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			
			<div class="container-fluid" style="width: 98%">
				<h3 style="display: inline;">Lista | <strong>Registro Clínico</strong></h3>
				<button type="submit" class="btn btn-primary float-right">Salvar</button>
				<div class="card" style="margin-top: 25px;">
					<div class="card-body">
						<table class="table table-borderless">
							<thead>
								<th>Nome</th>
								<th>Descrição do último registro</th>
								<th>Data</th>
								<th>Hora</th>
								<th>Qnt de registros</th>
							</thead>
							<tbody th:each="r : ${registro}">
								<tr>
									<td><a th:text="${r.rclinico.paciente_id.nome}"></a></td>
									<td><a th:text="${r.rclinico.descricao}"></a></td>
									<td><a th:text="${r.rclinico.data}"></a></td>
									<td><a th:text="${r.rclinico.hora}"></a></td>
									<td><a th:text="${r.qntId}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

	</body>
</html>