<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="/js/rclinico/busca.js"></script>
    <script type="text/javascript" src="/js/rclinico/data.js"></script>
    <script type="text/javascript" src="/js/rclinico/hora.js"></script>
    <script type="text/javascript" src="/js/rclinico/limitaDesc.js"></script>
    <script type="text/javascript" src="/js/rclinico/paginacao.js"></script>
    <script type="text/javascript" src="/js/rclinico/detalhesRegistro.js"></script>
</head>

<body>
    <div layout:fragment="corpo">

        <nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class="btn-group">
                    <button type="button" class="btn" id="dropdownMenu2" value="1">Nome</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" value="1" onclick="muda2()">Nome</button>
                        <button class="dropdown-item" type="button" value="2" onclick="muda()">Prontuário</button>
                    </div>
                </div>
                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
                </div>
                <div class="collapse navbar-collapse justify-content-end login">
				    <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
				        <div class="form-check mb-2 mr-sm-2">
				            <a class="btn btn-outline-success my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
				        </div>
				    </form>
				
				    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
				        <div class="btn-group mb-2 mr-sm-2">
				            <button type="button" class="btn btn-light">
				                <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
				            </button>
				            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				            </button>
				            <div class="dropdown-menu">
				                <button type="submit" class="dropdown-item">Sair</button>
				            </div>
				        </div>
				    </form>
				</div>
            </div>
        </nav>

        <div class="container-fluid" style="width: 98%">
            <form th:action="@{/RegistroClinico/salvar}" th:object="${registroclinico}" method="POST">
                <h3 style="display: inline;">Cadastro | <strong>Registro Clínico</strong></h3>
                <a class="btn btn-outline-secondary float-right" href="/RegistroClinico/buscar" role="button"><i class="fas fa-chevron-left"></i> Voltar</a>
                <button type="submit" class="btn btn-outline-primary float-right mr-2">Salvar</button>
                <div class="card" style="margin-top: 25px; margin-bottom:15px;">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label for="prontuário">Prontuário</label>
                                <input type="text" class="form-control tamanho-fonte" id="id_paciente" th:name="paciente_id" th:value="${paciente.id}" style="cursor: default;box-shadow: 0 0 0 0; border: 1px solid lightgray;" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nome_paciente">Nome do paciente</label>
                                <input type="text" class="form-control tamanho-fonte" th:value="${paciente.nome}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="convenio">Convênio</label>
                                <input type="text" class="form-control tamanho-fonte" id="convênio" th:value="${paciente.tipo_convenio.convenio.nome}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="tipo_convenio">Tipo de convênio</label>
                                <input type="text" class="form-control tamanho-fonte" id="tipo_convenio" th:value="${paciente.tipo_convenio.nome}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="data">Data</label>
                                <input type="date" class="form-control tamanho-fonte" id="data" th:name="data" style="cursor: default;box-shadow: 0 0 0 0; border: 1px solid lightgray;" readonly>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="hora">Hora</label>
                                <input type="text" class="form-control tamanho-fonte" id="hora" th:name="hora" style="cursor: default;box-shadow: 0 0 0 0; border: 1px solid lightgray;" readonly>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="descricao">Descrição</label>
                                <textarea class="form-control" id="descricao" rows="7" autofocus="autofocus" maxlength="1000" th:field="*{descricao}" onkeyup="maiuscula(this)" required style="resize: none;">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:name="funcionario_id" th:value="${funcionario.funcionario_id.id}">
            </form>
            <h5 style="display: inline;">Atendimentos anteriores</h5>
            <div class="card" style="margin-top: 10px;" id="resultsBlock">
            </div>
        </div>
        <div th:replace="fragmentos/modal"></div>
        <div th:replace="fragmentos/modalDetalhesRegistro"></div>
    </div>

	<script type="text/javascript" src="/js/rclinico/destalhesRegistro.js"></script>
</body>

</html>