<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8" />
		<script>
			function busca() {
				if($("#txtBusca").val() != ""){
					var url2 = "http://localhost:8080/RegistroClinico/listar/" + $("#dropdownMenu2").val() + "/" + $("#txtBusca").val();
					document.location.href = url2;
				}
			}
		</script>
		<script>
			function muda() {
				$("#dropdownMenu2").text("Prontuário");
				$("#dropdownMenu2").val("1");
			}
			function muda2() {
				$("#dropdownMenu2").text("Nome");
				$("#dropdownMenu2").val("2");
			}
		</script>
	</head>

	<body>
		<div layout:fragment="corpo">

			<div class="container-fluid" style="width: 98%">
				<h3 style="display: inline;">Cadastro | <strong>Registro Clínico</strong></h3>

				<div class="row">
					<div class="col-md-9">
						<form th:action="@{/RegistroClinico/salvar}" th:object="${registroclinico}" method="POST">
							<div class="card" style="margin-top: 25px;">
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-3">
											<label for="nome_paciente">Nome do paciente</label>
											<input type="text" class="form-control tamanho-fonte" th:value="${agenda.paciente_id.nome}" disabled>
											<input type="hidden" class="form-control tamanho-fonte" id="nome_paciente" th:name="paciente_id" th:value="${agenda.paciente_id.id}">
										</div>
										<div class="form-group col-md-3">
											<label for="convenio">Convênio</label> 
											<input type="text" class="form-control tamanho-fonte" id="convênio" th:value="${agenda.paciente_id.tipo_convenio.convenio.nome}" disabled> 
										</div>
										<div class="form-group col-md-3">
											<label for="tipo_convenio">Tipo de convênio</label> 
											<input type="text" class="form-control tamanho-fonte" id="tipo_convenio" th:value="${agenda.paciente_id.tipo_convenio.nome}" disabled> 
										</div>
										<div class="form-group col-md-3">
											<label for="agendamento">Agendamento</label> 
											<input type="text" class="form-control tamanho-fonte" id="agendamento" th:name="agendamento_id" th:value="${agenda.id}" readonly 
											style="cursor: default;box-shadow: 0 0 0 0; border: 1px solid lightgray;"> 
										</div>
										<input type="hidden" class="form-control tamanho-fonte" id="hora" th:field="*{hora}">
										<input type="hidden" class="form-control tamanho-fonte" id="data" th:field="*{data}">
									</div>
	
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="descricao">Descrição</label> 
											<textarea class="form-control" id="descricao" rows="7"  autofocus="autofocus" maxlength="1000" th:field="*{descricao}" required style="resize: none;"></textarea>
										</div>
									</div>
									<input type="submit" class="btn btn-primary form-control col-md-2 float-right" style="margin-top: 10px;" value="Salvar">
								</div>
							</div>
						</form>
					</div>
	
					<div class="col-md-3">
						<div class="card" style="margin-top: 25px;">
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
  
</html>