<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="/js/funcionario/valida.js"></script>
    <script type="text/javascript" src="/js/funcionario/busca.js"></script>
    <script type="text/javascript" src="/js/funcionario/periododata.js"></script>
    <script type="text/javascript" src="/js/funcionario/alerta.js"></script>
</head>

<body>

    <section layout:fragment="corpo">

        <nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class="btn-group">
                    <button type="button" class="btn" id="dropdownMenu2" value="2">Nome</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">

                        <button class="dropdown-item" type="button" value="2" onclick="muda2()">Nome</button>
                        <button class="dropdown-item" type="button" value="3" onclick="muda3()">CPF</button>
                        <button class="dropdown-item" type="button" value="5" onclick="muda5()">CRM</button>
                        <button class="dropdown-item" type="button" value="4" onclick="muda4()">Celular</button>
                        <button class="dropdown-item" type="button" value="1" onclick="muda()">Matrícula</button>
                        <button class="dropdown-item" type="button" value="6" onclick="muda6()">Especialidade</button>
                    </div>
                </div>

                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
                </div>
                <div class="collapse navbar-collapse justify-content-end login">

                </div>
                <div class="collapse navbar-collapse justify-content-end login">

                    <div class="mr-3"style="color: white; size: 50%;"> Olá, <a th:text="${usuarioLogado}"></a></div>

                    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
                        <div class="btn-group mb-2 mr-sm-2">
                            <button type="button" class="btn btn-light">
                                <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
                            </button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item">Sair</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-left: 35%;">
            <div th:replace="fragmentos/alert"></div>
        </div>

        <div class="container-fluid" style="width: 98%">
            <form th:action=" @{/funcionario/salvar} " th:object="${funcionario}" method="POST">
                <h3 style="display: inline;">Cadastro | <strong>Funcionário</strong></h3>
                <a class="btn btn-outline-secondary float-right" href="/funcionario/listar" role="button"> <i class="fas fa-chevron-left"></i> Voltar</a>
                <button type="submit" class="btn btn-outline-primary float-right mr-2">Salvar</button>
                <div class="card" style="margin-top: 25px; padding: 0px;">
                    <div class="card-body">

                        <h5 style=" margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; ">Dados Pessoais</h5>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control tamanho-fonte" id="nome" maxlength="40" placeholder="nome" autofocus="autofocus" th:field="*{nome}" onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this)" />
                            </div>
                            <div class="invalid-feedback">
                                <span th:errors="*{nome}"></span>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control tamanho-fonte" id="cpf" th:field="*{cpf}" placeholder="cpf"/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="rg">RG</label>
                                <input type="text" class="form-control tamanho-fonte" id="rg" placeholder="RG" th:field="*{rg}" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="orgao_emissor">Orgão Emissor</label>
                                <input type="text" class="form-control tamanho-fonte" id="orgao_emissor" maxlength="10" placeholder="Orgao emissor" th:field="*{orgao_emissor}" onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="data_emissao">Data de Emissão</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_emissao" placeholder="Data de emissao" th:field="*{data_emissao}" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="data_nascimento">Data de Nascimento</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_nascimento" name="data_nascimento" max="2222-05-26" placeholder="Data de nascimento" th:field="*{data_nascimento}" />
                        
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="sexo">Sexo</label>
                                <select id="sexo" class="form-control tamanho-fonte" th:field="*{sexo}">
                                    <option value="FEMININO">FEMININO</option>
                                    <option value="MASCULINO">MASCULINO</option>
                                    <option value="NÃO DECLARADO">NÃO DECLARADO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="estado_civil">Estado civil</label>
                                <select id="estado_civil" class="form-control tamanho-fonte" th:field="*{estado_civil}" style="text-transform: uppercase;">
                                    <option value="solteiro(a)">SOLTEIRO(A)</option>
                                    <option value="CASADO(A)">CASADO(A)</option>
                                    <option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
                                    <option value="VIÚVO(A)">VIÚVO(A)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="naturalidade">Naturalidade</label>
                                <input type="text" class="form-control tamanho-fonte" id="naturalidade" onkeyup="maiuscula(this)" placeholder="Naturalidade" maxlength="45" th:field="*{naturalidade}" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nacionalidade"> Nacionalidade</label>
                                <select id="nacionalidade" class="form-control" th:field="*{nacionalidade}">
                                    <option value="BRASILEIRA">BRASILEIRA</option>
                                    <option value="ESTRANGEIRA">ESTRANGEIRA</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="telefone_fixo">Telefone fixo</label>
                                <input type="text" class="form-control tamanho-fonte" id="telefone_fixo" placeholder="Telefone fixo" th:field="*{telefone_fixo}" />
                            </div>

                            <div class="form-group col-md-2">
                                <label for="celular">Celular</label>
                                <input type="text" class="form-control tamanho-fonte" id="celular" placeholder="Numero do celular" th:field="*{celular}" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control tamanho-fonte" id="email" placeholder="name@example.com" maxlength="30" onkeyup="maiuscula(this)" autofocus="autofocus" th:field="*{email}" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="escolaridade"> Escolaridade</label>
                                <select id="escolaridade" class="form-control tamanho-fonte" th:field="*{escolaridade}">

                                    <option value="ESC">ENSINO SUPERIOR COMPLETO</option>
                                    <option value="ESI">ENSINO SUPERIOR INCOMPLETO</option>
                                    <option value="EMC">ENSINO MÉDIO COMPLETO</option>
                                    <option value="EMI">ENSINO MÉDIO INCOMPLETO</option>
                                    <option value="EFC">ENSINO FUNDAMENTAL COMPLETO</option>
                                    <option value="EFI">ENSINO FUNDAMENTAL INCOMPLETO</option>
                                    <option value="D">DOUTORADO</option>
                                    <option value="M">MESTRADO</option>

                                </select>
                            </div>

                            <br>

                            <div class="form-group col-md-2">
                                <label for="data_inicio">Data de Contratação</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_inicio" th:field="*{data_inicio}" />
                            </div>

                            <div class="form-group col-md-2">
                                <label for="data_termino">Data de Dispensa</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_termino" th:field="*{data_termino}" />
                            </div>

                            <div class="form-group col-md-2">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control tamanho-fonte" id="password" name="password" maxlength="15"/>
                            </div>

                        </div>

                        <div class="form-row align-items-center">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Selecione</label>
                                    <select class="custom-select mr-sm-2 tamanho-fonte" id="tipo">
                                        <option value="" selected>ESCOLHA UM...</option>
                                        <option value="1">MÉDICO(A)</option>
                                        <option value="2">FUNCIONÁRIO(A)</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-row">
                            <div class="form-group col-md-4 ">
                                <label for="especialidade"> Especialidade</label>
                                <input type="text" class="form-control" id="especialidade" placeholder="especialidade" th:field="*{especialidade}" onkeyup="maiuscula(this)" disabled>
                            </div>

                            <div class="form-group col-md-2 ">
                                <label for="crm"> CRM</label>
                                <input type="text" class="form-control" id="crm" placeholder="CRM" th:field="*{crm}" disabled>
                            </div>
                        </div>

                        <br>

                        <h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Endereço</h5>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label for="cep">CEP</label>
                                <input id="cep" type="text" class="form-control tamanho-fonte" th:field="*{endereco.cep}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="logradouro">Logradouro</label>
                                <input id="logradouro" class="form-control tamanho-fonte" type="text" th:field="*{endereco.logradouro}" onkeyup="maiuscula(this)" >
                            </div>
                            <div class="form-group col-md-1">
                                <label for="numero">Número</label>
                                <input id="numero" type="text" class="form-control tamanho-fonte" th:field="*{endereco.numero}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="complemento">Complemento</label>
                                <input id="complemento" class="form-control tamanho-fonte" onkeyup="maiuscula(this)" type="text" th:field="*{endereco.complemento}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="bairro">Bairro</label>
                                <input id="bairro" type="text" class="form-control tamanho-fonte" onkeyup="maiuscula(this)" th:field="*{endereco.bairro}">
                            </div>
                            <div class="form-group col-md-5 ">
                                <label for="cidade">Cidade</label>
                                <input id="cidade" type="text" class="form-control tamanho-fonte" onkeyup="maiuscula(this)" th:field="*{endereco.cidade}">
                            </div>
                            <div class="form-group col-md-2 ">
                                <label for="uf">Estado</label>
                                <select id="uf" class="form-control tamanho-fonte" th:field="*{endereco.estado}" style="text-transform: uppercase;">
                                    <option value="" selected hidden>Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="id" th:field="*{id}" />
                    </div>

                </div>
            </form>
        </div>
    </section>

</body>

</html>