<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />

    <script type="text/javascript" src="/js/funcionario/modal.js"></script>
    <script type="text/javascript" src="/js/funcionario/editar.js"></script>
    <script type="text/javascript" src="/js/login/mudarSenha.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script>
        $(document).ready(function() {
            $("#allconvenio_id").change(function() {
                var url = "http://localhost:8080/funcionario/allconvenios/" + $(this).val() + "/" + $("#id").val();
                $.ajax({
                    url: url,
                    method: "get",
                    success: function(data) {
                        $("#alltipo_convenio_id").prop("disabled", false);
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            html += '<input type="checkbox" value=' + data[i].id + ' name="tconvenio">';
                            html += '<label>' + data[i].nome + '</label>';
                        }
                        $("#teste").html(html);
                    },
                });
            });
        });
    </script>

</head>

<body>

    <section layout:fragment="corpo">

        <nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class="dropdown">
                    <a class="dropbtn" data-toggle="dropdown" href="#"><i class="fa fa-plus fa-fw"></i>Novo</a>
                    <div class="dropdown-content">
                        <a href="#">Agendamento</a>
                        <a href="/pacientes/cadastrar">Paciente</a>
                        <a href="#">Funcionário</a>
                        <a href="/convenios/cadastrar">Convênio</a>
                        <a href="/exame/cadastrar">Exame</a>
                        <a href="/laboratorio/cadastrar">Laboratório</a>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn" id="dropdownMenu2" value="2">Nome</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">

                        <button class="dropdown-item" type="button" value="2" onclick="muda2()">Nome</button>
                        <button class="dropdown-item" type="button" value="3" onclick="muda3()">CPF</button>
                        <button class="dropdown-item" type="button" value="5" onclick="muda5()">CRM</button>
                        <button class="dropdown-item" type="button" value="4" onclick="muda4()">Celular</button>
                        <button class="dropdown-item" type="button" value="1" onclick="muda()">Matrícula</button>
                        <button class="dropdown-item" type="button" value="6" onclick="muda6()">Especialidade</button>
                    </div>
                </div>

                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
                </div>
                <div class="collapse navbar-collapse justify-content-end login">

                </div>
                <div class="collapse navbar-collapse justify-content-end login">

                    <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
                        <div class="form-check mb-2 mr-sm-2">
                            <a class="btn btn-outline-success my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
                        </div>
                    </form>

                    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
                        <div class="btn-group mb-2 mr-sm-2">
                            <button type="button" class="btn btn-light">
                                <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
                            </button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item">Sair</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-left: 35%;">
            <div th:replace="fragmentos/alert"></div>
            <div th:replace="fragmentos/modal"></div>

            <div th:replace="fragmentos/modalSenha :: modalSenha"></div>
            <div th:replace="fragmentos/modal :: modal"></div>
        </div>

        <div class="container-fluid" style="width: 98%">

            <form id="form" th:action="@{/funcionario/editar}" th:object="${funcionario}" method="POST">

                <div id="div_botao1"></div>

                <div id="div_botao">
                    <h3 style="display: inline;">Edição | <strong>Funcionário</strong></h3>

                    <a class="btn btn-secondary float-right ml-2" href="/funcionario/listar" role="button"> <i class="fas fa-chevron-left"></i> Voltar</a>

                    <button th:id="${funcionario.id}" type="button" class="btn btn-danger classid float-right" data-toggle="modal" data-target="#myModal">Excluir</button>

                    <button class="btn btn-primary float-right mr-2" id="btn_editar" type="button" onclick="executar(this)">Editar</button>

                </div>

                <div class="card" style="margin-top: 25px; padding: 0px;">
                    <div class="card-body">

                        <h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Dados Pessoais</h5>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control tamanho-fonte" id="nome" autofocus="autofocus" th:field="*{nome}" maxlength="40" placeholder="nome" onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);" disabled/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control tamanho-fonte" id="cpf" th:field="*{cpf}" mask="999.999.999-99" placeholder="cpf" disabled/>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="rg">RG</label>
                                <input type="text" class="form-control tamanho-fonte" id="rg" th:field="*{rg}" disabled/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="orgao_emissor">Orgão Emissor</label>
                                <input type="text" class="form-control tamanho-fonte" id="orgao_emissor" th:field="*{orgao_emissor}" onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);" disabled/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="data_emissao">Data de Emissão</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_emissao" th:field="*{data_emissao}" disabled/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="data_nascimento">Data de Nascimento</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_nascimento" th:field="*{data_nascimento}" disabled/>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-2">
                                <label for="sexo">Sexo</label>
                                <select id="sexo" class="form-control tamanho-fonte" th:field="*{sexo}" disabled>
                                    <option value="m">MASCULINO</option>
                                    <option value="f">FEMININO</option>
                                    <option value="nd">NÃO DECLARADO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="estado_civil">Estado civil</label>
                                <select id="estado_civil" class="form-control tamanho-fonte" th:field="*{estado_civil}" disabled>
                                    <option value="efc">SOLTEIRO(A)</option>
                                    <option value="efi">CASADO(A)</option>
                                    <option value="emc">DIVORCIADO(A)</option>
                                    <option value="em">VIUVO(A)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="naturalidade">Naturalidade</label>
                                <input type="text" class="form-control tamanho-fonte" id="naturalidade" th:field="*{naturalidade}" disabled/>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="nacionalidade">Nacionalidade</label>
                                <select id="nacionalidade" class="form-control tamanho-fonte" th:field="*{nacionalidade}" disabled>
                                    <option value="BRASILEIRA">BRASILEIRA</option>
                                    <option value="ESTRANGEIRA">ESTRANGEIRA</option>
                                </select>
                            </div>

                            <div class="form-group col-md-1">
                                <label for="telefone_fixo">Telefone fixo</label>
                                <input type="text" class="form-control tamanho-fonte" id="telefone_fixo" th:field="*{telefone_fixo}" disabled/>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="celular">Celular</label>
                                <input type="text" class="form-control tamanho-fonte" id="celular" th:field="*{celular}" disabled/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control tamanho-fonte" id="email" onkeyup="maiuscula(this)" th:field="*{email}" disabled/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="escolaridade">Escolaridade</label>
                                <select id="escolaridade" class="form-control tamanho-fonte" th:field="*{escolaridade}" disabled>
                                    <option value="efc">ENSINO FUNDAMENTAL COMPLETO</option>
                                    <option value="efi">ENSINO FUNDAMENTAL INCOMPLETO</option>
                                    <option value="emc">ENSINO MÉDIO COMPLETO</option>
                                    <option value="emi">ENSINO MÉDIO INCOMPLETO</option>
                                    <option value="esc">ENSINO SUPERIOR COMPLETO</option>
                                    <option value="esi">ENSINO SUPERIOR INCOMPLETO</option>
                                    <option value="m">MESTRADO</option>
                                    <option value="d">DOUTORADO</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="data_inicio">Data de Contratação</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_inicio" th:field="*{data_inicio}" disabled/>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="celular">Data de Dispensa</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_termino" th:field="*{data_termino}" disabled/>
                            </div>

                        </div>

                        <br>

                        <div th:if="${funcionario.crm != null}">

                            <h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Informações do Médico</h5>

                            <div class="form-row">
                                <div class="form-group col-md-4 ">
                                    <label for="especialidade"> Especialidade</label>
                                    <input type="text" class="form-control" id="especialidade" placeholder="especialidade" th:field="*{especialidade}" style="text-transform: uppercase;" disabled>
                                </div>

                                <div class="form-group col-md-2 ">
                                    <label for="crm"> CRM</label>
                                    <input type="number" class="form-control" id="crm" placeholder="CRM" th:field="*{crm}" disabled>

                                </div>

                                <div class="form-group col-md-2 ">
                                    <a class="btn-primary mr-2 btn modalSenha btn-group btn_cadastrar btn" style="margin-top:32px; color: white;" role="button" data-toggle="modal" data-target="#modalCadastroConv" th:attr="data-nome=${funcionario.nome}, data-id=${funcionario.id}" element title="Clique aqui para cadastrar um convênio"><span>Novo Convênio &nbsp;<span class="fas fa-plus"></span></a>
                                </div>
                            </div>

                        </div>

                        <h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Endereço</h5>
                        <div class="form-row">
                            <div class="form-group col-md-2 ">
                                <label for="cep">CEP</label>
                                <input id="cep" type="text" class="form-control tamanho-fonte" th:field="*{endereco.cep}" required disabled>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="logradouro">Logradouro</label>
                                <input id="logradouro" class="form-control tamanho-fonte" type="text" th:field="*{endereco.logradouro}" required disabled>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="numero">Número</label>
                                <input id="numero" type="text" class="form-control tamanho-fonte" th:field="*{endereco.numero}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="complemento">Complemento</label>
                                <input id="complemento" class="form-control tamanho-fonte" type="text" th:field="*{endereco.complemento}" disabled>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5 ">
                                <label for="bairro">Bairro</label>
                                <input id="bairro" type="text" class="form-control tamanho-fonte" th:field="*{endereco.bairro}" required disabled>
                            </div>
                            <div class="form-group col-md-5 ">
                                <label for="cidade">Cidade</label>
                                <input id="cidade" type="text" class="form-control tamanho-fonte" th:field="*{endereco.cidade}" required disabled>
                            </div>
                            <div class="form-group col-md-2 ">
                                <label for="uf">Estado</label>
                                <select id="uf" class="form-control tamanho-fonte" th:field="*{endereco.estado}" disabled>
                                    <option value="" selected hidden>Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="id" th:field="*{id}" />
                        <input type="hidden" id="login" th:field="*{login}">
                        <input type="hidden" id="perfil_id" th:field="*{login.perfis.id}">

                    </div>
                </div>

            </form>
        </div>

        <div class="modal fade" id="modalCadastroConv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Convênio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/funcionario/salvarTConv/{FuncId} (FuncId=${funcionario.id}) }" th:object=${FuncTConv} method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="nome">Nome do Funcionário</label>
                                    <input type="text" class="form-control" name="nome" id="recipient-name2" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="allconvenio_id">Convênios</label>
                                    <select id="allconvenio_id" class="form-control tamanho-fonte" required>
                                        <option value="" selected hidden>Selecione</option>
                                        <option th:each="c : ${allconvenios}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div id="teste">
                                       
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="recipient-id2" th:field=*{funcionario}>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>