<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
	
	<div style="margin-right:auto;margin-top: 1%" >
				<a class="btn btn-success btn-sm "  href="/funcionario/cadastrar"
					role="button"> 
					<span class="oi oi-plus "title="Novo(a) Funcionário(a)" aria-hidden="true"></span>
					<span>Novo(a) Funcionário(a)</span>
				</a>
			</div>
	
	<div style="margin-top: -1%;text-align: center;">
				<h3> Lista<strong> | Funcionário(a) </strong></h3>
			</div>
			
		<div class="container" style="text-align: center;">
		<div  th:replace="fragmentos/modal :: modal"></div>
		<div th:replace="fragmentos/alert" ></div>
		</div>
		
		<br><br>
		
		<table class="table table-borderless table-sm detalhes" style="text-align: center; text-transform: uppercase;" >
					<thead class="thead-info" style="text-align: center;" >
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Nome</th>
							<th scope="col">CPF</th>
							<th scope="col">CRM</th>
							<th scope="col">Especialidade</th>
							<th scope="col">Telefone</th>
							<th scope="col">Celular</th>
							<th scope="col">Email</th>

						</tr>
						</thead>
						
							<tbody th:each="f : ${funcionario}">
						<tr>
						<td width="5%">
								<div>
									<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="" class="form-control text-center " id="id"
										th:value="${f.id}" disabled>
									
									<div class="invalid-feedback"></div>
								</div>
							</td >
							
							<td width="20%">
								<div>
									<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center " id="nome"
										th:value="${f.nome}" disabled >
									
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center " id="cpf"
										th:value="${f.cpf}" disabled>
									<div class="invalid-feedback"></div>
								</div>
							</td>

							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center"
										id="crm" th:value="${f.crm}" disabled>
									<div class="invalid-feedback"></div>
								</div>
							</td>
							<td width="15%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center" id="especialidade"
										th:value="${f.especialidade}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center" id="telefone_fixo"
										th:value="${f.telefone_fixo}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center" id="celular"
										th:value="${f.celular}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
					
							<td width="10%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" >
									<input type="text" class="form-control text-center" id="email"
										th:value="${f.email}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
				
						</tr>

					</tbody>
				</table>
				
		<nav aria-label="paginacao">
  			<ul class="pagination justify-content-center pagination-md">
    			<li class="page-item disabled">
      				<a class="page-link" href="/funcionario/listar" tabindex="-1">Anterior</a>
    			</li>
    			<li class="page-item"><a class="page-link" href="#">1</a></li>
    			<li class="page-item"><a class="page-link" href="#">2</a></li>
    			<li class="page-item"><a class="page-link" href="#">3</a></li>
    			<li class="page-item">
      				<a class="page-link" href="#">Próximo</a>
    			</li>
  			</ul>
		</nav>
				
			
	</section>

</body>
</html>
