<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
	
	<div style="margin-right:auto;margin-top: 1%" >
				<a class="btn btn-success btn-sm "  href="/funcionario/cadastrar"
					role="button"> 
					<span class="oi oi-plus "title="Novo(a) Funcionário(a)" aria-hidden="true"></span>
					<span>Novo(a) Funcionário(a)</span>
				</a>
			</div>
	
	<div style="margin-top: 1%;text-align: center">
				<h2> Lista<strong> | Funcionário(a) </strong></h2>
			</div>
			
		<div class="container" style="text-align: center;">
		<div  th:replace="fragmentos/modal :: modal" style="text-align: center"></div>
		<div th:replace="fragmentos/alert" style="text-align: center"></div>
		</div>
		
		<br><br>
		
		<table class="table table-borderless table-sm" style="text-align: center;" >
					<thead class="thead-info" style="text-align: center;" >
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Nome</th>
							<th scope="col">CPF</th>
							<th scope="col">CRM</th>
							<th scope="col">Especialidade</th>
							<th scope="col">Telefone</th>
							<th scope="col">Celular</th>
							<th scope="col">Email</th>

						</tr>
						</thead>
						
							<tbody th:each="f : ${funcionario}">
						<tr>
						<td width="5%">
								<div>
									
									<input type="" class="form-control text-center " id="id"
										th:value="${f.id}" disabled>
									
									<div class="invalid-feedback"></div>
								</div>
							</td >
							
							<td width="20%">
								<div>
									<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center " id="nome"
										th:value="${f.nome}" disabled >
									
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center " id="cpf"
										th:value="${f.cpf}" disabled>
									<div class="invalid-feedback"></div>
								</div>
							</td>

							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center"
										id="crm" th:value="${f.crm}" disabled>
									<div class="invalid-feedback"></div>
								</div>
							</td>
							<td width="15%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center" id="especialidade"
										th:value="${f.especialidade}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center" id="telefone"
										th:value="${f.telefone}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
							
							<td width="8%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center" id="celular"
										th:value="${f.celular}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
					
							<td width="10%">
								<div>
								<a th:href="@{/funcionario/editar/{id} (id=${f.id})}" style="text-decoration: none">
									<input type="text" class="form-control text-center" id="email"
										th:value="${f.email}" disabled />
									<div class="invalid-feedback"></div>
								</div>
							</td>
				
						</tr>

					</tbody>
				</table>
			
	</section>

</body>
</html>
