<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">

		<nav class="navbar">
			<a class="btn btn btn-md"
				style="background-color: #D7E7F9; margin-top: 5px;"
				href="/funcionario/cadastrar" role="button"> <span
				class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Cadastrar
					Funcionário</span></a>

		</nav>
		<br>
		
		<div  th:replace="fragmentos/modal :: modal" style="text-align: center"></div>
		<div th:replace="fragmentos/alert" style="text-align: center"></div>
		
		<div class="w3-container w3-teal" th:each="f : ${funcionario}" style="margin-left:5%;margin-top:1%;margin-right: 5%">
		
			<a class="btn btn-info btn-sm"
				th:href="@{/funcionario/editar/{id} (id=${f.id}) }" role="button">
				<span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>
			</a> 
			
			<button th:id="${#strings.concat ('/btn_funcionario/excluir/',f.id)}"
				type="button" class="btn btn-danger btn-sm" data-toggle="modal"
				data-target="#myModal"> <span class="oi oi-circle-x"
				title="Excluir" aria-hidden="true"></span>
			</button> 
			
			<br> <br>
			
			<div class="form-row">

				<div class="form-group col-md-6">
					<label for="nome">Nome</label> <input type="text"
						class="form-control" id="nome" placeholder="nome" name="nome"
						th:value="${f.nome}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="cpf">CPF</label> <input type="text"
						class="form-control" id="cpf" placeholder="cpf" name="cpf"
						th:value="${f.cpf}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="data_nascimento">Data de Nascimento</label> <input
						type="date" class="form-control" id="data_nascimento"
						placeholder="data_nascimento" name="data_nascimento"
						th:value="${f.data_nascimento}" disabled>
					<div class="invalid-feedback"></div>
				</div>
				
				<div class="form-group col-md-2">
					<label for="sexo">Sexo</label> <input type="text"
						class="form-control" id="sexo" placeholder="sexo" name="sexo"
						th:value="${f.sexo}" disabled>
					<div class="invalid-feedback"></div>
				</div>
				
				</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="rg">RG</label> <input type="text" class="form-control"
						id="rg" placeholder="rg" name="nome" th:value="${f.rg}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-4">
					<label for="orgao_emissor">Orgão Emissor</label> <input type="text"
						class="form-control" id="orgao_emissor"
						placeholder="orgao_emissor" name="orgao_emissor"
						th:value="${f.orgao_emissor}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="data_emissao">Data de Emissão</label> <input
						type="date" class="form-control" id="data_emissao"
						placeholder="data de emissao" name="data_emissao"
						th:value="${f.data_emissao}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-4">
					<label for="nome">Email</label> <input type="text"
						class="form-control" id="email" placeholder="email" name="email"
						th:value="${f.email}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				</div>

				<div class="form-row">
					<div class="form-group col-md-2">
						<label for="telefone">Telefone</label> <input type="text"
							class="form-control" id="telefone" placeholder="telefone"
							name="telefone" th:value="${f.telefone}" disabled>
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-2">
						<label for="celular">Celular</label> <input type="text"
							class="form-control" id="celular" placeholder="celular"
							name="celular" th:value="${f.celular}" disabled>
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-6">
						<label for="especialidade">Especialidade</label> <input
							type="text" class="form-control" id="especialidade"
							placeholder="especialidade" name="especialidade"
							th:value="${f.especialidade}" disabled>
						<div class="invalid-feedback"></div>
					</div>
					
					<div class="form-group col-md-2">
						<label for="crm">CRM</label> <input type="text"
							class="form-control" id="crm" placeholder="crm" name="crm"
							th:value="${f.crm}" disabled>
						<div class="invalid-feedback"></div>
					</div>
					
					</div>

					<div class="form-row">

						<div class="form-group col-md-2">
							<label for="estado_civil">Estado Civil</label> <input type="text"
								class="form-control" id="estado_civil"
								placeholder="estado_civil" name="estado_civil"
								th:value="${f.estado_civil}" disabled>
							<div class="invalid-feedback"></div>
						</div>

						<div class="form-group col-md-5">
							<label for="escolaridade">Escolaridade</label> <input type="text"
								class="form-control" id="escolaridade"
								placeholder="escolaridade" name="escolaridade"
								th:value="${f.escolaridade}" disabled>
							<div class="invalid-feedback"></div>
						</div>

						<div class="form-group col-md-5">
							<label for="formacao">Formação</label> <input type="text"
								class="form-control" id="formacao" placeholder="formacao"
								name="formacao" th:value="${f.formacao}" disabled>
							<div class="invalid-feedback"></div>
						</div>
						
						</div>
						
						<div class="form-row">
						
							<div class="form-group col-md-6">
								<label for="naturalidade">Naturalidade</label> <input
									type="text" class="form-control" id="naturalidade"
									placeholder="naturalidade" name="naturalidade"
									th:value="${f.naturalidade}" disabled>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-md-6">
								<label for="nacionalidade">Nacionalidade</label> <input
									type="text" class="form-control" id="nacionalidade"
									placeholder="nacionalidade" name="nacionalidade"
									th:value="${f.nacionalidade}" disabled>
								<div class="invalid-feedback"></div>
							</div>
							
							</div>

						<div class="form-row">
						<div class="form-group col-md-2">
							<label for="cep">CEP</label> <input type="text"
								class="form-control" id="cep" placeholder="cep" name="cep"
								th:value="${f.endereco.cep}" disabled>
							<div class="invalid-feedback"></div>
						</div>
						
							<div class="form-group col-md-4">
								<label for="endereco">Logradouro</label> <input type="text"
									class="form-control" id="endereco" placeholder="endereco"
									name="endereco" th:value="${f.endereco.logradouro}" disabled>
								<div class="invalid-feedback"></div>
							</div>
							
							<div class="form-group col-md-2">
								<label for="endereco">Número</label> <input type="text"
									class="form-control" id="endereco" placeholder="endereco"
									name="endereco" th:value="${f.endereco.numero}" disabled>
								<div class="invalid-feedback"></div>
							</div>
							
							<div class="form-group col-md-4">
								<label for="endereco">Complemento</label> <input type="text"
									class="form-control" id="endereco" placeholder="endereco"
									name="endereco" th:value="${f.endereco.complemento}" disabled>
								<div class="invalid-feedback"></div>
							</div>
							
							</div>

						<div class="form-row">

							<div class="form-group col-md-5">
								<label for="bairro">Bairro</label> <input type="text"
									class="form-control" id="bairro" placeholder="bairro"
									name="bairro" th:value="${f.endereco.bairro}" disabled>
								<div class="invalid-feedback"></div>
							</div>

							<div class="form-group col-md-5">
								<label for="cidade">Cidade</label> <input type="text"
									class="form-control" id="cidade" placeholder="cidade"
									name="cidade" th:value="${f.endereco.cidade}" disabled>
								<div class="invalid-feedback"></div>
							</div>
						
							<div class="form-group col-md-2">
								<label for="estado">Estado</label> <input type="text"
									class="form-control" id="estado" placeholder="estado"
									name="estado" th:value="${f.endereco.estado}" disabled>
								<div class="invalid-feedback"></div>
							</div>

						</div>
					</div>
	</section>

</body>
</html>
