<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
	
	<script>
	
	//buscar paciente 
	$("#paciente").autocomplete({
						source: "http://localhost:8080/exame/buscarpaciente",
						minLength: 1
						/* select: function (event, ui) {
							$("#paciente").val(ui.item.label);
							$("#paciente_id").val(ui.item.value);
							return false;
						} */
					});

	</script>
	
	</head>
	
	<body>
	
<div layout:fragment="corpo"  >
		
		<div class="container" style="margin-left: 35%;">
			<div th:replace="fragmentos/alert"></div>
		</div>
	
				<div class="container-fluid" style="width: 98%">
				
				<form th:action=" @{/exame/salvar}" th:object="${exame}" method="POST">
					
					<h3 style="display: inline;">Cadastro | <strong>Exame</strong></h3>
					
					<input type="submit" class="btn btn-primary form-control col-md-1 float-right ml-2" value="Salvar">
					
					<a class="btn btn-secondary float-right" href="/exame/listar" role="button"> <i class="fas fa-chevron-left"></i> Voltar</a>
					
					<div class="card" style="margin-top: 25px; padding: 0px;">
						<div class="card-body">
							
									<br>
								
								<div class="form-row">
							
							<div class="form-group col-md-2">
										<label for="nome">Nome</label> 
										<input type="text" class="form-control tamanho-fonte" id="nome" placeholder="nome" autofocus="autofocus" th:field="*{nome}" required/>
									</div>
									<div class="form-group col-md-4">
										<label for="descricao">Descrição</label> 
										 <textarea class="form-control" rows="7" id="descricao" maxlength="40" autofocus="autofocus" th:field="*{descricao}"
										onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);" required style="resize: none;" >
										</textarea>
									</div>
									<div class="form-group col-md-2">
										<label for="data_coleta">Data de Coleta</label> 
										<input type="date" class="form-control tamanho-fonte" id="data_coletas" placeholder="Data de coleta" autofocus="autofocus" th:field="*{data_coleta}" required/>
									</div>
									<div class="form-group col-md-2">
										<label for="data_envio">Data de Envio</label> 
										<input type="date" class="form-control tamanho-fonte" id="data_envio" placeholder="Data de envio" autofocus="autofocus" th:field="*{data_envio}" required/>
									</div>
									
									<div class="form-group col-md-2">
										<label for="data_retorno">Data de Retorno</label> 
										<input type="date" class="form-control tamanho-fonte" id="data_retorno" placeholder="Data de retorno" autofocus="autofocus" th:field="*{data_retorno}" />
									</div>
									
								</div>
	
								<div class="form-row">
								
									<div class="form-group col-md-2 ">
										<label for="nome">Funcionário</label> 
										<select id="nome" class="form-control tamanho-fonte" th:field="*{funcionario_id}">
											<option th:each="f : ${funcionario}" th:value="${f.id}" th:text="${f.nome}"></option>
										</select>
									</div>
									
									<div class="form-group col-md-2 ">
										<label for="paciente">Paciente</label> 
										<input type="text" id="paciente" class="form-control tamanho-fonte">
										
										<input type="hidden" th:field="*{paciente_id}" id="paciente_id">
										
									</div>
									</div>
								<input type="hidden" id="id" th:field="*{id}"/> 
							</div>
						</div>
					</form>
				</div>
			</div>
						
	</body>
</html>



