<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />

    <script type="text/javascript" src="/js/exame/modal.js"></script>
    <script type="text/javascript" src="/js/exame/editar.js"></script>
    <script type="text/javascript" src="/js/exame/busca.js"></script>
    <script type="text/javascript" src="/js/exame/comparahora.js"></script>
    <script type="text/javascript" src="/js/alerta.js"></script>

</head>

<body>

    <section layout:fragment="corpo">

        <nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class="btn-group">
                    <button type="button" class="btn" id="dropdownMenu2" value="2">Paciente</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" value="2" onclick="muda2()">Paciente</button>
                        <button class="dropdown-item" type="button" value="3" onclick="muda3()">Exame</button>
                        <button class="dropdown-item" type="button" value="4" onclick="muda4()">Data de Coleta</button>
                    </div>
                </div>
                <form th:action="@{/exame/buscarlista}" method="post" class="form-inline" id="divBusca">
					<input type="text" class="form-control" placeholder="Buscar..." id="txtBusca">
					<input type="date" class="form-control txtBusca" id="coleta_data" name="coleta_data" style="display: none;">
					<button type="submit" id="btn_search" class="btn"><i class="fas fa-search"></i></button>
					<input type="hidden" id="id_paciente" name="id_paciente">
					<input type="hidden" id="nome_exame" name="nome_exame">
                </form>

                <div class="collapse navbar-collapse justify-content-end login">
                <div class="mr-3" style="color: white; size: 50%;" id="data">
                            <script type="text/javascript" src="/js/data.js"></script>
                        </div>
                        <div class="mr-3" style="color: white; size: 50%;" id="relogio"></div>

                   <div class="mr-3"style="color: white; size: 50%;"> Olá, <a th:text="${usuarioLogado}"></a></div>

                    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
                        <div class="btn-group mb-2 mr-sm-2">
                            <button type="button" class="btn btn-light">
                                <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
                            </button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item">Sair</button>
                            </div>
                        </div>
					</form>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div th:replace="fragmentos/alert"></div>
			<div th:replace="fragmentos/modal"></div>
			
		</div>

        <div class="container-fluid" style="width: 98%">

            <form id="form" th:action="@{/exame/editar}" th:object="${exame}" method="POST" onsubmit="validaData(this); return false;">

                <div id="div_botao">
                    <h3 style="display: inline;"> Edição | <strong>Exame</strong></h3>

                    <a class="btn btn-outline-secondary float-right ml-2" th:href="@{/exame/listar}"> <i class="fas fa-chevron-left"> </i> Voltar</a>

                    <button th:id="${exame.id}" type="button" class="btn btn-outline-danger classid float-right" data-toggle="modal" data-target="#myModal">Excluir</button>

                    <button class="btn btn-outline-primary float-right mr-2" id="btn_editar" type="button" onclick="executar(this)">Editar</button>
                </div>

                <div class="card" style="margin-top: 25px; padding: 0px;">
                    <div class="card-body">

                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label for="paciente">Paciente</label>
                                <input type="text" class="form-control tamanho-fonte" id="paciente" autofocus="autofocus" th:value="*{paciente_id.nome}" disabled/>
                                <input type="hidden" th:field="*{paciente_id}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="convenio">Convênio</label>
                                <input type="text" class="form-control tamanho-fonte" id="convenio" th:value="*{tipo.convenio.nome}" autofocus="autofocus" disabled/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="tipo">Tipo de Convênio</label>
                                <input type="text" class="form-control tamanho-fonte" id="tipo" autofocus="autofocus" th:value="*{tipo.nome}" disabled/>
                                <input type="hidden" th:field="*{tipo}" id="tipo_id">

                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-2">
                                <label for="data_coleta">Data de Coleta</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_coletas" autofocus="autofocus" th:field="*{data_coleta}" disabled/>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="data_envio">Data de Envio</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_envio" autofocus="autofocus" th:field="*{data_envio}" disabled/>
                            </div>

                            <div class="form-group col-md-2">
                                <label for="data_retorno">Data de Retorno</label>
                                <input type="date" class="form-control tamanho-fonte" id="data_retorno" autofocus="autofocus" th:field="*{data_retorno}"  disabled/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="valor">Valor</label>
                                <input type="text" class="form-control tamanho-fonte" id="valor" placeholder="R$" autofocus="autofocus" th:field="*{valor}" required disabled/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="nome">Exame</label>
                                <input type="text" class="form-control tamanho-fonte" id="nome" autofocus="autofocus" onkeyup="maiuscula(this)" th:field="*{nome}" disabled/>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="funcionario">Quem Enviou</label>
                                <input type="text" class="form-control tamanho-fonte" id="funcionario" autofocus="autofocus" th:value="*{funcionario_id.nome}" disabled/>
                                <input type="hidden" th:field="*{funcionario_id}">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="funcionario_lab">Quem Recebeu</label>
                                <input type="text" class="form-control tamanho-fonte" id="funcionario_lab" autofocus="autofocus" th:field="*{funcionario_lab}" onkeyup="maiuscula(this)"  disabled/>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="descricao">Descrição</label>
                                <textarea class="form-control" rows="3" id="descricao" maxlength="250" onkeyup="maiuscula(this)" autofocus="autofocus" th:field="*{descricao}" required style="resize: none;" onkeypress="return ApenasLetras(event,this);" disabled>
                                </textarea>
                            </div>
                            
                            <div class="form-group col-md-3">
                                
                                <label for="laboratorio">Laboratório</label>
                                <select id="laboratorio" class="form-control tamanho-fonte" 
                                th:field="*{laboratorio_id}" required disabled>
                                    
                                    <option th:each="l : ${laboratorio}" th:value="${{l.id}}" 
                                    th:text="${l.nome}" selected="selected">
                                    </option>
                                    
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id" th:field="*{id}" />

                </div>

            </form>
        </div>

        <div th:replace="fragmentos/modal :: modal"></div>

    </section>
</body>

</html>