<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">

		<nav class="navbar">
			<a class="btn btn btn-md"
				style="background-color: #D7E7F9; margin-top: 5px; margin-left: 20px"
				href="/exame/cadastrar" role="button"> <span class="oi oi-plus"
				title="Cadastro" aria-hidden="true"></span> <span>Cadastrar
					Exame</span></a>
		</nav>
		
		<br>
		
		<div  th:replace="fragmentos/modal :: modal" style="text-align: center"></div>
		<div th:replace="fragmentos/alert" style="text-align: center"></div>

		<div class="container" th:each="e : ${exame}">
			
			<a class="btn btn-info btn-sm"
				th:href="@{/exame/editar/{id} (id=${e.id}) }" role="button"> <span
				class="oi oi-pencil" title="Editar" aria-hidden="true"></span>
			</a> 
			
		<button th:id="${#strings.concat ('/btn_exame/excluir/',e.id)}"
				type="button" class="btn btn-danger btn-sm" data-toggle="modal"
				data-target="#myModal"> <span class="oi oi-circle-x"
				title="Excluir" aria-hidden="true"></span>
			</button>  <br>
			<br>

			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="descricao">Descrição</label> <input type="text"
						class="form-control" id="descricao" placeholder="descrição"
						name="descricao" th:value="${e.descricao}" disabled>
					<div class="invalid-feedback" style="text-transform: uppercase;"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="data_coleta">Data de Coleta</label> <input type="date"
						class="form-control" id="data_coleta" placeholder="DATA DE COLETA"
						name="data_de_coleta" th:value="${e.data_coleta}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="data_envio">Data de Envio</label> <input type="text"
						class="form-control" id="data_envio" placeholder="data de envio"
						name="data_envio" th:value="${e.data_envio}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-2">
					<label for="data_retorno">Data de Retorno</label> <input
						type="date" class="form-control" id="data_retorno"
						placeholder="DATA DE RETORNO" name="data_retorno"
						th:value="${e.data_retorno}" disabled>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-3">
					<label for="tipoconvenio">Tipo de Convênio</label> <input
						type="text" class="form-control" id="tipoconvenio"
						th:value="${e.tipo_id.nome}" disabled>
					<div class="invalid-feedback"></div>
				</div>

			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="paciente">Paciente</label> <input type="text"
						class="form-control" id="paciente"
						th:value="${e.paciente_id.nome}" disabled>
					<div class="invalid-feedback" style="text-transform: uppercase;"></div>
				</div>

				<div class="form-group col-md-6">
					<label for="funcionario">Funcionário Responsável</label> <input
						type="text" class="form-control" id="funcionario"
						th:value="${e.funcionario_id.nome}" disabled>
					<div class="invalid-feedback" style="text-transform: uppercase;"></div>
				</div>
				</div>
			</div>
	</section>
</body>
</html>
