<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="/sismed/js/laboratorio/busca.js"></script>

</head>

<body>

    <section layout:fragment="corpo">

        <nav class="navbar navbar-expand-lg navbar-light" th:fragment="content">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <div class="btn-group">
                    <button type="button" class="btn" id="dropdownMenu2" value="2">Nome</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" value="2" onclick="muda2()">Nome</button>
                        <button class="dropdown-item" type="button" value="3" onclick="muda3()">Telefone</button>
                        <button class="dropdown-item" type="button" value="4" onclick="muda4()">Bairro</button>

                    </div>
                </div>
                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button id="btn_search" class="btn"><i class="fas fa-search" onclick="busca()"></i></button>
                </div>

                <div class="collapse navbar-collapse justify-content-end login">

                    <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
                        <div class="form-check mb-2 mr-sm-2">
                            <a class="btn btn-outline-success my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
                        </div>
                    </form>

                    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0" sec:authorize="isAuthenticated()">
                        <div class="btn-group mb-2 mr-sm-2">
                            <button type="button" class="btn btn-light">
                                <i class="fas fa-user"></i> <span class="" sec:authentication="name">Bob</span>
                            </button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item">Sair</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </nav>

        <div class="container" style="margin-left: 35%;">
            <div th:replace="fragmentos/alert"></div>
        </div>

        <div class="container-fluid" style="width: 98%">

            <h3 style="display: inline;">Lista | <strong>Laboratório</strong></h3>

            <a class="btn btn-outline-primary float-right" href="/laboratorio/cadastrar" role="button">
                <i class="fas fa-plus"></i> Novo Laboratório</a>

            <div class="card" style="margin-top: 25px; padding: 0px;">
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr style="color: #5d6266; font-size: 1em; text-align: left">

                                <th scope="col">Nome</th>
                                <th scope="col">Responsável</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Bairro</th>
                                <th scope="col">Cidade</th>

                            </tr>
                        </thead>
                        <tbody th:each="l : ${laboratorio.content}">
                            <tr class="conteudo" style="font-size: 1em;">

                                <td style="width: 350px;">
                                    <a th:href="@{/laboratorio/editar/{id} (id=${l.id}) }" title="Clique aqui para alterar" th:text="${l.nome}"> </a>
                                </td>

                                <td>
                                    <a th:text="${l.responsavel}"></a>
                                </td>

                                <td>
                                    <a th:text="${l.telefone_fixo}"></a>
                                </td>

                                <td><a th:text="${l.endereco.bairro}" /></a>
                                </td>

                                <td><a th:text="${l.endereco.cidade}" /></a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${laboratorio.totalPages > 0}">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:if="${laboratorio.hasPrevious()}">
                                <a class="page-link" th:href="@{/laboratorio/listar(page=1)}">
                                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="l : ${pageNumbers}" th:classappend="${l==laboratorio.pageable.pageNumber + 1} ? active">
                                <a class="page-link" th:text=${l} th:href="@{/laboratorio/listar(page=${l})}"></a>
                            </li>
                            <li class="page-item" th:if="${laboratorio.hasNext()}">
                                <a class="page-link" th:href="@{/laboratorio/listar(page=${laboratorio.totalPages})}">
                                    <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

</body>

</html>