<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
	
	
<script type="text/javascript" src="/js/convenio/editar.js"></script>
<script type="text/javascript" src="/js/convenio/modal.js"></script>

</head>
<body>
	<section layout:fragment="corpo">
	<br>
			<div class="container" style="margin-left: 35%;">
				<div th:replace="fragmentos/alert"></div>
				<div th:replace="fragmentos/modal"></div>
				
		</div>
	
		<div class="container" id="cadastroConvenio">
				
			<form th:action="${convenio.id == null} ? @{/convenios/salvar} : @{/convenios/editar}" 
			th:object="${convenio}" method="POST">
			
				
					<h4  class="text-center">Cadastro <strong>| Convenio  </strong></h4>
					
				
				<br>
				
				<div style="margin-left:20%;" class="btnCRUD " >
				
					<a class="btn btn-success btn-sm "  href="/convenios/cadastrar"role="button"> 
						<span class="oi oi-plus "title="Cadastrar novo convenio" aria-hidden="true"></span>
						<span> Convenio</span>
					</a>
					
					<a class="btn btn-success btn-sm " th:href="@{/tconvenios/cadastrar/{id2} (id2=${id})} " role="button" title="Cadastrar novo tipo de convenio"> 
									<span class="oi oi-plus"  aria-hidden="true"> </span> 
									<span>  Tipo </span> 
					</a>
					
					
					<a class="btn btn-success btn-sm " th:href="@{/procedimentos/cadastrar} " role="button"> 
						<span class="oi oi-plus" title="Cadastro" aria-hidden="true"> </span> 
						<span> Procedimento</span> 
					</a>
							
					<a class="btn btn-info btn-sm " th:href="@{/tconvenios/listar/{id} (id=*{id}) }" title="Listar Tipos de Convenio" >Tipos Convenio</a>
					
					<a class="btn btn-info btn-sm " th:href="@{/procedimentos/listar/{id} (id=${id}) }" title="Listar Procedimentos">Procedimentos</a>
					
					
						<button th:id="${id}" type="button" class="btn btn-sm btn-danger classid " data-toggle="modal" data-target="#myModal">Excluir</button>
						
						<button class="btn btn-primary btn-sm " role="button" id="btn_editar" type="button" onclick="executar(this)"> Editar </button>
						
							
				</div>
				
				<br><br>
				<div class="form-row" style="margin-left: 20%;">
					
					
					
					<div class="form-group col-md-4 " >
					
						<label for="nome"> Nome Convenio</label>
						<input type="text" class="form-control" id="nome" placeholder="Ex. AMIL" autofocus="autofocus" th:field="*{nome}" onkeyup="maiuscula(this)"   disabled>
					</div>
					
						<br>
						
					<div class="form-group col-md-4 " >
						<label for="cnpj">CNPJ</label>
						<input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Ex. 29.309.127/0001-79"  th:field="*{cnpj}" disabled>
					</div>
					
						<br>
						
					<div class="form-group col-md-4 " >
						<label for="ans">ANS</label>
						<input type="text" class="form-control" id="ans" name="ans" placeholder="Ex. 326305"  th:field="*{registro_ans}" disabled>
					</div>
					
						<br>
						
					<div class="form-group col-md-4 " >
						<label for="dataAdesao"> Data de Adesão</label>
						<input type="date" class="form-control" id="dataAdesao" th:field="*{data_adesao}" disabled>
					</div>
						
						<br>
						
					<div class="form-group col-md-4 " >
						<label for="dataAdesao">Banco</label>
						<input type="text" class="form-control" id="banco" th:field="*{dadosb.banco}" placeholder="EX. 001" disabled>
					</div>
					
						<br>
					
					<div class="form-group col-md-4 " >
						<label for="dataAdesao">Agência</label>
						<input type="text" class="form-control" id="agencia" th:field="*{dadosb.agencia}" placeholder="Ex. 5764" disabled>
					</div>
					
						<br>
					
					<div class="form-group col-md-4 " >
						<label for="dataAdesao">Conta</label>
						<input type="text" class="form-control" id="conta" th:field="*{dadosb.conta}" placeholder="Ex. 38600-6" disabled>
					</div>
						<br>
						
				</div>
				<input type="hidden" id="id" th:field="*{id}"/>
				
				
			
			</form>
		
		</div>
		
	
	
	</section>
	
	
	

</body>
</html>