<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">

</head>

<body>

    <section layout:fragment="corpo">
        <div class="container ajustarTexto">
            <div th:replace="fragmentos/alert" class="container"></div>
            <div th:replace="fragmentos/modal" class="container"></div>
        </div>
        <div class="container-fluid" style="width: 98%">
            <h3 style="display: inline; margin-left: 10px;">Lista | <strong>Convenios</strong></h3>
            <a class="btn btn-success float-right" href="/convenios/cadastrar" role="button" style="margin-right: 10px;"><i class="fas fa-plus"></i> Novo Convenio</a>

            <div class="card ajustarCard">
                <div class="card-body">
                    <table class="table table-borderless detalhes">

                        <thead>
                            <tr style="color: #5d6266; font-size: 1em;">
                                <th>Nome</th>
                                <th>CNPJ</th>
                                <th>ANS</th>
                                <th>Adesão</th>
                                <th>Banco</th>
                                <th>Agencia</th>
                                <th>Conta</th>
                            </tr>
                        </thead>
                        <tbody th:each="c : ${convenios}">
                            <tr class="conteudo" style="font-size: 1em;">
                                <td>
                                    <a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" th:text="${c.nome}"> </a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${c.cnpj}"> </a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${c.registro_ans}"></a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${#temporals.format(c.data_adesao, 'dd/MM/yyyy')}"></a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${c.dadosb.banco}"></a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${c.dadosb.agencia}"></a>
                                </td>
                                <td>
                                    <a title="Mostrar informações" th:text="${c.dadosb.conta}"></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

</body>

</html>