<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
		
				<br>
		<div class="container" style="margin-left: 35%;">
			<div th:replace="fragmentos/alert"></div>
			<div th:replace="fragmentos/modal :: modal"></div>
		</div>
		<br><br><br>
		<div style="margin-left: 43%;">
				<h2> Lista<strong> | Convenios </strong></h2>
			</div>
			<br><br><br>
			<div style="margin-left:45%;" >
				<a class="btn btn-success btn-sm "  href="/convenios/cadastrar"role="button"> 
						<span class="oi oi-plus "title="Cadastrar novo convenio" aria-hidden="true"></span>
						<span> Convenio</span>
					</a>
			</div>
			
		
<br>

	<table class="text-center" style="margin: auto;" >
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">CNPJ</th>
							<th scope="col">ANS</th>
							<th scope="col">Adesão</th>
							<th scope="col">Banco</th>
							<th scope="col">Agencia</th>
							<th scope="col">Conta</th>
						</tr>
					</thead>
					<tbody th:each="c : ${convenios}">
						<tr>
						
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									
										
										<input type="text" class="form-control text-center " id="nome"
											th:value="${c.nome}" style=" cursor: pointer" disabled>
								</a>
							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center " id="cnpj"
										th:value="${c.cnpj}" style=" cursor: pointer" disabled>
								</a>
							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center" id="ans"
										th:value="${c.registro_ans}" style=" cursor: pointer" disabled>
									
								</a>

							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center" id="adesao"
										th:value="${#temporals.format(c.data_adesao, 'dd/MM/yyyy')}" style=" cursor: pointer" disabled />
								</a>

							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center" id="banco"
										th:value="${c.dadosb.banco}" style=" cursor: pointer" disabled>
								</a>
							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center"
										id="agencia" th:value="${c.dadosb.agencia}"style=" cursor: pointer" disabled>
								</a>
							</td>
							<td>
								<a th:href="@{/convenios/editar/{id} (id=${c.id}) }" title="Mostrar informações" style="text-decoration: none" >
									<input type="text" class="form-control text-center" id="conta"
										th:value="${c.dadosb.conta}" style=" cursor: pointer" disabled />
									
								</a>


							</td>
							
							
							
							
							
							
						</tr>

					</tbody>
				</table>
				
			
				

	</section>
</body>
</html>