<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">

</head>

<body>
    <div layout:fragment="corpo">
        <div class="container ajustarTexto">
            <div th:replace="fragmentos/alert" class="container"></div>
            <div th:replace="fragmentos/modal" class="container"></div>
        </div>

        <div class="container">

            <div >
                <h3 style="display: inline; margin-left: 10px;"> 
				
				Cadastro <strong>| Tipo Convênio  </strong></h3>
            </div>

            <form th:action="@{/tconvenios/salvar}" th:object="${tconvenio}" method="POST">
                <div th:each="c : ${convenio}">
                    <input type="submit" class="btn btn-primary form-control col-md-1 float-right ml-2" value="Salvar">
                    <a class="btn btn-secondary float-right" th:href="@{/convenios/editar/{id} (id=${c.id}) }" > <i class="fas fa-chevron-left"></i> Voltar</a>
                    <br>
                </div>
                <div class="card" style="margin-top: 25px; padding: 0px;">
                    <div class="card-body">
                        <div class="form-row ">
                            <div class="form-group col-md-4 " style="margin: auto;">
                                <br>
                                <label for="nome"> Nome</label>
                                <input type="text" class="form-control " id="nome" placeholder="Ex. 400" autofocus="autofocus" th:field="*{nome}" onkeyup="maiuscula(this)" required autocomplete="off">
                                <input type="hidden" id="id" th:field="*{id}" />

                                <br>

                                <div th:each="c : ${convenio}">
                                    <label for="convenio"> Convenio</label>
                                    <input type="text" class="form-control " id="convenio" th:value="${c.nome}" disabled>
                                </div>
                                <select id="convenio_id" class="form-control" th:field="*{convenio}" hidden>
                                    <option th:each="c : ${convenio}" th:value="${c.id}" th:text="${c.nome}"></option>
                                </select>

                                <br>
                                <br>

                                <input type="hidden" id="id" th:field="*{id}" />

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</body>

</html>