<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
			<div class="container" style="margin-left: 30%;">
				<div th:replace="fragmentos/alert" class="container"></div>
			</div>
	
			<br><br><br>
			
			<div class="container" id="cadastroConvenio">
				<form th:action="@{/tconvenios/salvar}" th:object="${tconvenio}" method="POST">
			
				
					<div class="form-group col-md-4 " style="margin-left: 35%;">
						<h4>Cadastro <strong>| Tipo Convenio  </strong></h4>
					
						<label for="nome"> Nome</label>
						<input type="text" class="form-control" id="nome" placeholder="Ex. AMIL" autofocus="autofocus" th:field="*{nome}" onkeyup="maiuscula(this)">
						
						<br>
						
							<label for="Convenio">Convenio</label>
							<select id="convenio_id" class="form-control" th:field="*{convenio}">
								
								<option th:each="c : ${convenios}" th:value="${c.id}" th:text="${c.nome}"></option>
							</select>
						
						
						
						<br>
						
						
					
				</div>
				
			<div  style="margin-left: 30%;">
				<input type="hidden" id="id" th:field="*{id}"/>
				<input type="submit" class="btn btn-primary form-control col-md-4"  value="Salvar">
				
				
			</div>
			</form>
		
		</div>
		
	
	
	</section>
	
	
	

</body>
</html>