<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="/js/tconvenio/modal.js"></script>
<script type="text/javascript" src="/js/tconvenio/editar.js"></script>
</head>
<body>
	<section layout:fragment="corpo">
	<br><br>
			<div class="container" style="margin-left: 35%;">
				<div th:replace="fragmentos/alert" class="container"></div>
				<div th:replace="fragmentos/modal" class="container"></div>
			</div>
	
	
	
	
	
			<div class="container" id="cadastroConvenio">
				
			<form th:action="@{/tconvenios/editar/{id}  (id=${tconvenio.convenio.id}) }" th:object="${tconvenio}" method="POST">
			
					<h4  class="text-center"><strong th:text="${tconvenio.nome} + ' | ' "> </strong> Informações </h4>
					
					<br><br>
					
					<div  class="btnCRUD float-right" id="div_botao">
						<button th:id="${tconvenio.id}" type="button" class="btn btn-danger classid float-right" data-toggle="modal" data-target="#myModal">Excluir</button>
						<button class="btn btn-primary float-right mr-2" id="btn_editar" style="margin-left: 10px;" type="button" onclick="executar(this)">Editar</button>				
					</div>
				
					<div class="form-group col-md-4 " style="margin-left: 35%;">
					
						<label for="nome"> Nome</label>
						<input type="text" class="form-control" id="nome"  autofocus="autofocus" th:field="*{nome}" onkeyup="maiuscula(this)" disabled>
						
						<br>
						
							<input type="hidden"   class="convenioid" th:id="${tconvenio.convenio.id}"/>
							<input type="hidden"   th:field="*{convenio.id}"/>
						
						<br>
						
						
					
				</div>
				
			<div  style="margin-left: 38%;">
				<input type="hidden" id="id" th:field="*{id}"/>
				
				<a  class="btn btn-secondary form-group col-md-5" th:href="@{/tconvenios/listar/{id} (id=${tconvenio.convenio.id}) }"> Voltar</a>
				
			</div>
			</form>
		
		</div>
		
	
	
	</section>
	
	
	

</body>
</html>