<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
	<div class="container" style="margin-left: 35%;">
			<div th:replace="fragmentos/alert"></div>
			<div th:replace="fragmentos/modal :: modal"></div>
		</div>
		<br><br><br>
		<div style="margin-left:70%;">
			<a class="btn btn-success btn-sm " th:href="@{/tconvenios/cadastrar} " role="button" title="Cadastrar novo tipo de convenio"> 
				<span class="oi oi-plus"  aria-hidden="true"> </span> 
				<span> Novo Tipo Convenio</span> 
			</a>
		</div>
			
			<div  style="margin-left:48.5%;" >
				<label for="nome">Nome</label> 
			</div>
			
			
			
		<div style="margin-left: 40%;">
			<div class="container" th:each="t : ${tconvenio}">

				<div class="form-row">
					<div class="form-group col-md-4">
						<input type="text" class="form-control text-center" id="nome"
							th:value="${t.nome}" disabled>
							
						<div class="invalid-feedback"></div>
					</div>

					<div class="form-group col-md-2">
						<a class="btn btn-info btn-sm"
							th:href="@{/tconvenios/editar/{id} (id=${t.id}) }" role="button">
							<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
						</a>
						<button
							th:id="${#strings.concat ('/btn_tconvenios/excluir/',t.id,'/',t.convenio.id)}"
							type="button" class="btn btn-danger btn-sm" data-toggle="modal"
							data-target="#myModal" title="Excluir covenio">
							<span class="oi oi-circle-x" 
								aria-hidden="true"></span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>