<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
	<br>
		<div class="container" style="margin-left: 35%;">
				<div th:replace="fragmentos/alert"></div>
				<div th:replace="fragmentos/modal :: modal"></div>
		</div>
		
		<br>
			
		<div style="margin-left: 43%;" th:each="c : ${convenio}">
				<h2> Tipos Convenios        
				
				<strong>  | </strong>
				<strong th:text = ${c.nome}>  Convenio </strong>
				
				
				
				</h2>
		</div>
			
		<br>
		
		<div  style="margin-left:49%;" >
				<label for="nome">Nome</label> 
		</div>
			
			
			
			
		<div style="margin-left: 40%;">
			<div class="container" th:each="t : ${tconvenio}">
					
				<div class="form-row">
					<div class="form-group col-md-4">
						<a  th:href="@{/tconvenios/editar/{id} (id=${t.id}) }" style="text-decoration: none" title="Mostrar informações">
							<input type="text" class="form-control text-center" id="nome" th:value="${t.nome}" style=" cursor: pointer" disabled>
						</a>
							
						
					</div>

					

				</div>
			</div>
			
		</div>
		<br><br>
		<div style="margin-left: 41%;" th:each="c : ${convenio}">
			<a type="button" class="btn btn-secondary form-control col-md-4" th:href="@{/convenios/editar/{id} (id=${c.id}) }" > Voltar</a>
		</div>
	</section>
</body>
</html>