/*
 * Base structure
 */
html, body {
	height: 100%;
	
}

body {
	padding-top: 50px;
	padding-left: 0;
	background-color: #F9F9FA;
} 

.layout-main{
	padding-top: 150px;	
}


#menu{
	padding-top: 50px;
}

.footer{
	padding-left:40%;
	padding-right:45%;
	padding-top:0;
}

.corpo{
	padding-left: 20%;
	padding-top: 50px;
}