/*
 * Base structure
 */
html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
}

body {
	padding-top: 50px;
	padding-left: 0;
	background-color: #F9F9FA;
} 

.layout-main{
	padding-top: 150px;	
}


#menu{
	padding-top: 50px;
}

.footer{
	padding-left:40%;
	padding-right:45%;
	padding-top:0;
}

.corpo{
	padding-left: 20%;
	padding-top: 50px;
}

hr { display:none; }

p.sua-classe {
    margin-bottom:25px;
    
   padding:25px;
    border: 5px solid #eee;
}
