/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #f3f3f3;
}

a.decoration,
a:focus {
    color: inherit;
    text-decoration: none;
}

.navbar {
    padding: 10px 10px;
    background: #0087cd;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0.2, 0.1);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 180px;
    max-width: 180px;
    background: #fff;
    color: gray;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

#sidebar .sidebar-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#sidebar ul.components {
    padding: 4px 0;
}

#sidebar ul li a {
    padding: 15px 20px;
    font-size: 0.9em;
    display: block;
    margin-left: 0px;
    color: #5d6266;
    text-decoration: none;
}

.espaco {
	margin-right: 15px;
}

#sidebar ul li a:hover {
    background: #eee;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #5d6266;
    font-weight: bold;
    background: #eee;
}

.corAtivo{
	color: #0087cd;
}

/* ---------------------------------------------------
    CAIXA DE BUSCA STYLE
----------------------------------------------------- */


#divBusca{
  background-color:#fff;
  border-radius:3px;
  width:405px;
  height: 35px;
  
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:13px;
  border:none;
  height:25px;
  width:350px;
  margin:5px 5px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:13px;
  border:none;
  height:25px;
  width:350px;
  margin:5px 5px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#btn_search {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: gray;
  
}

#btn_search_custos {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: gray;
  position: absolute;
  top: 1px;
}

#camposBusca{
	position: absolute;
	top: 15px;
	background-color:#fff;
  border-radius:3px;
  width:405px;
  height: 35px;
}

.convenio_custos{
	float:left;
  background-color:transparent;
  height:35px;
  width:365px;
}

#periodo{
	float:left;
	
}
#dataFim{
  float:left;
  background-color:transparent;
  height:35px;
  width:200px;
  display:inline;
}

#dataInicio{
	float:left;
  background-color:transparent;
  height:35px;
  width:200px;
  display:inline;
  margin-left: 5px;
}



/* ---------------------------------------------------
  	CADASTRO RAPIDO STYLE
----------------------------------------------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 15px;
}

.dropdown-content a {
  color: #5d6266;
  padding: 12px 16px;
  font-size: 0.9em;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: inherit;
  color: white !important;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content a:hover {background-color: #eee;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background: #007fc1; text-decoration: none;}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


tr.conteudo:hover {
    box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.3);
}

td a {
	font-size: 14px;
}

input.tamanho-fonte, select.tamanho-fonte {
	font-size: 14px;
}


.form-check{
	
	margin-right: 3%;
	text-align: right;
	margin-top: -3%;
	
}
.form-check-label{

	margin-right: 2%;

}


.detalhes
a{
	text-decoration: none;
}

.btnVoltar{
	text-decoration: none;
	color: black;
}
.btnVoltar:hover{
	color: black;
}

.detalhes
input{
	cursor: pointer;
}

.detalhes
a{
	text-decoration: none;
}

.titulo{
	display: inline; 
	margin-left: 10px;"
}

.ajustarCard{
	margin-top: 25px; 
	padding: 0px;"
}
.ajustarTexto{
	margin-left: 35%;
}

.btnConvenio{
	margin-top:32px;
	margin-left: 5px;
}

#dropdownMenu2 {
	color: white;
	text-align: right;
;
}

#dropdownMenu3 {
	color: white;
	margin-right: 5px
}

#dropdownMenu3:hover {
	background: #007fc1;
}

.login ul {
	color: #fff; 
	font-size: 0.9em; 
	margin-right: 25px;
}

.btn_cadastrar {
	/* estilo para os botes de cadastrar e novo*/
	background: #0087cd;
	color: white;
}

.btn_cadastrar:hover {
	/* estilo para os botes de cadastrar e novo*/
	color:white;
}
.sub_titulo{
	/* estilo para subtitulos em paginas*/
	margin-bottom: 15px; 
	padding-bottom: 10px; 
	border-bottom: 1px solid #e0e0e0;
}

.tabela_lista{
	/* estilo das tabelas para exibir dados*/
	color: #5d6266; 
	font-size: 1em;
}
.alert {
	
	 width:40%;
}
}