/*
 * Base structure
 */
html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
}

 

.layout-main{
	padding-top: 150px;	
}


#menu{
	padding-top: 50px;
}

.footer{
	padding-left:40%;
	padding-right:45%;
	padding-top:0;
}



hr { display:none; }



.btnCRUD{
	text-align: right;
	magin-left: 20px;
}

