
<!DOCTYPE html >
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>SISMED</title>
<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="/css/style2.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    
</head>
<body>
	<div class="wrapper">

		<nav th:replace="fragmentos/sidebar :: sidebar">
			<span>Menu</span>
		</nav>
	
		<div id="content">
			<nav th:replace="fragmentos/content :: content">
				<span>Menu</span>
			</nav>
		
			<div layout:fragment="corpo">
				<div>conteudo principal das páginas</div>
			</div>
		</div >
	
		<footer th:replace="fragmentos/footer :: rodape">
			<div>footer</div>
		</footer>
</div>
	<script src="/js/jquery.mask.min.js"></script>
	<script src="/js/maiuscula.js"></script>
	<script src="/js/buscadorEndereco.js"></script>
	<script src="/js/apenasLetras.js"></script>
	<script src="/js/mascaras.js"></script>

</body>
</html>