<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>SISMED</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="clínica médica com agendamento de consultas online" />
    
    <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.css">
   	<link rel="stylesheet" type="text/css" href="/js/fontawesome/css/all.css">
   	
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
     
     
    <link rel="icon" th:href="@{/image/favicon.ico}" />
	<link type="text/css" href="/css/style2.css" rel="stylesheet" />
    
    <script type="text/javascript"src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fontawesome/js/fontawesome.js"></script>
    <script type="text/javascript" src="/js/fontawesome/js/solid.js"></script>
    <script type="text/javascript" src="/js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/hora.js"></script>
	

</head>

<body onload="relogio(); ">

    <div class="wrapper">

        <nav th:replace="fragmentos/sidebar :: sidebar" sec:authorize="isAuthenticated()">
            <span>Menu</span>
        </nav>
        <div id="content">
            <section layout:fragment="corpo">
                <div>conteudo principal das páginas</div>
            </section>
        </div>
    </div>
    <!-- <footer th:replace="fragmentos/footer :: rodape">
        <div>footer</div>
    </footer> -->

    
    <script src="/js/maiuscula.js"></script>
    <script src="/js/buscadorEndereco.js"></script>
    <script src="/js/apenasLetras.js"></script>
    <script src="/js/mascaras.js"></script>
    
	<script>
		$(document).ready(function(){
		  $("#modalCadastroLab").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name').val(recipientnome);
			modal.find('#recipient-id').val(recipientid);
		  });
		});
	</script>
	<script>
		$(document).ready(function(){
		  $("#modalCadastroConvFunc").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name2').val(recipientnome);
			modal.find('#recipient-id2').val(recipientid);
		  });
		});
	</script>
	<script>
		$(document).ready(function(){
		  $("#modalExcluirConvFunc").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name3').val(recipientnome);
			modal.find('#recipient-id3').val(recipientid);
		  });
		});
	</script>

</body>

</html>