<!DOCTYPE html >
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>SISMED</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script rel="stylesheet" src="sismed/js/bootstrap/css/bootstrap.min.css"></script>
    <script src="sismed/js/jquery.js"></script>
    <script src="sismed/js/popper.min.js"></script>
    <script src="sismed/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="sismed/js/fontawesome/js/fontawesome.js"></script>
    <script src="sismed/js/fontawesome/js/solid.js"></script>
    <script src="sismed/js/fontawesome/css/all.css"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link th:href="@{/css/style-home.css(v=${version}) }" rel="stylesheet" />
    <link rel="icon" th:href="@{/image/favicon.ico}" />

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
	
	<link href="/sismed/css/style2.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">

        <nav th:replace="fragmentos/sidebar :: sidebar">
            <span>Menu</span>
        </nav>
        <div id="content">
            <section layout:fragment="corpo">
                <div>conteudo principal das páginas</div>
            </section>
        </div>
    </div>
    <!-- <footer th:replace="fragmentos/footer :: rodape">
        <div>footer</div>
    </footer> -->

    <script src="/sismed/js/jquery.mask.min.js"></script>
    <script src="/sismed/js/maiuscula.js"></script>
    <script src="/sismed/js/buscadorEndereco.js"></script>
    <script src="/sismed/js/apenasLetras.js"></script>
    <script src="/sismed/js/mascaras.js"></script>
    
	<script>
		$(document).ready(function(){
		  $("#modalCadastroLab").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name').val(recipientnome);
			modal.find('#recipient-id').val(recipientid);
		  });
		});
	</script>
	<script>
		$(document).ready(function(){
		  $("#modalCadastroConvFunc").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name2').val(recipientnome);
			modal.find('#recipient-id2').val(recipientid);
		  });
		});
	</script>
	<script>
		$(document).ready(function(){
		  $("#modalExcluirConvFunc").on('show.bs.modal', function(event){
		    var button = $(event.relatedTarget);
		    var recipientid = button.data('id');
			var recipientnome = button.data('nome');
			var modal = $(this);
			modal.find('#recipient-name3').val(recipientnome);
			modal.find('#recipient-id3').val(recipientid);
		  });
		});
	</script>

</body>

</html>