<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SISMED ::: Login</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="clínica médica com agendamento de consultas online" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
 
    <link href="/js/jquery-ui/jquery-ui.css">
   	<link rel="stylesheet" href="/js/fontawesome/css/all.css">
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css">
   
    <link rel="icon" th:href="@{/image/favicon.ico}" />
	<link href="/css/style2.css" rel="stylesheet" />
    
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome/js/fontawesome.js"></script>
    <script src="/js/fontawesome/js/solid.js"></script>
    <script src="/js/jquery-ui/jquery-ui.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/style-login.css(v=${version})}" rel="stylesheet" />
</head>
<body>
	<form class="form-signin was-validated" method="post" 
		th:action="@{/login}">
		<div class="text-center mb-4">
			<img class="mb-4" th:src="@{/image/spring-security.png}" alt=""
				width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">SISMED</h1>

			<p class="font-weight-lighter">Seja bem-vindo.</p>
			<p class="text-muted">Realize seu login para continuar</p>					
			<div th:if="${alerta != null}" th:class="${alerta == 'erro'} ? 'alert alert-danger' : 'alert alert-success'"
				 role="alert">
			  <h4 th:text="${titulo}" class="alert-heading">Credenciais...</h4>
			  <p th:text="${texto}">Login ou senha incorretos...</p>
			  <hr>
			  <p class="mb-0"><small th:text="${subtexto}">Acesso permitido...</small></p>
			</div>
		</div>

		<div class="form-label-group">
			<input type="text" id="inputCPF" class="form-control"
				placeholder="CPF" name="username" required autofocus autocomplete="off">
			<label for="inputEmail">CPF</label>
			<div class="invalid-feedback">Use seu CPF cadastrado como login.</div>
		</div>

		<div class="form-label-group">
			<input type="password" id="inputPassword" class="form-control"
				placeholder="Senha" name="password" required maxlength="15"> 
			<label for="inputPassword">Senha</label>
			<div class="invalid-feedback">Digite sua senha.</div>	
		</div>

		<div class="checkbox mb-3">
			<label> <input type="checkbox" value="remember-me">
				Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		<hr>
		<nav class="nav nav-pills flex-column flex-sm-row">
			<!-- <a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/primeiroAcesso}"><i class="far fa-arrow-alt-circle-right"></i>&nbsp; Primeiro acesso</a> -->
			<a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/redefinir/senha}"><i class="fas fa-key"></i>&nbsp;Recuperar senha</a>
			
		</nav>
		<p class="mt-5 mb-3 text-muted text-center">Clínica Spring
			Security&copy; 2019</p>
	</form>
	
	
	<script type="text/javascript">
	$(document).ready(function(){
            $('#inputCPF').mask('000.000.000-00');
     
        });
	</script>
</body>
</html>
