<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">

</head>
<body>
	<section layout:fragment="corpo">
	
		<div class="container corpo" id="cadastroConvenio">
			<form th:action="@{/pacientes/salvar}" th:object="${paciente}" method="POST">
				<div class="form-row container">
					<div class="form-group col-md-6">
						<label for="nome">Pacientes</label>
						<input type="text" class="form-control" id="nome" placeholder="Nome do paciente" autofocus="autofocus" th:field="*{nome}"/>
						
						<label for="cpf">CPF</label>
						<input type="text" class="form-control" id="cpf" placeholder="CPF" autofocus="autofocus" th:field="*{cpf}"/>
						
						<label for="rg">RG</label>
						<input type="text" class="form-control" id="rg" placeholder="RG" autofocus="autofocus" th:field="*{rg}"/>
						
						<label for="orgao_emissor">Orgao emissor</label>
						<input type="text" class="form-control" id="orgao_emissor" placeholder="Orgao emissor" autofocus="autofocus" th:field="*{orgao_emissor}"/>
						
						<label for="data_emissao">Data de emissão</label>
						<input type="text" class="form-control" id="data_emissao" placeholder="Data de emissao" autofocus="autofocus" th:field="*{data_emissao}"/>
						
						<label for="telefone_fixo">Telefone fixo</label>
						<input type="text" class="form-control" id="telefone_fixo" placeholder="Telefone fixo" autofocus="autofocus" th:field="*{telefone_fixo}"/>
						
						<label for="telefone_trabalho">Telefone trabalho</label>
						<input type="text" class="form-control" id="telefone_trabalho" placeholder="Telefone trabalho" autofocus="autofocus" th:field="*{telefone_trabalho}"/>
						
						<label for="data_emissao">Data de emissão</label>
						<input type="text" class="form-control" id="data_emissao" placeholder="Data de emissao" autofocus="autofocus" th:field="*{data_emissao}"/>
						
						<label for="celular">Celular</label>
						<input type="text" class="form-control" id="celular" placeholder="Numero do celular" autofocus="autofocus" th:field="*{celular}"/>
						
						<label for="sexo">Sexo</label>
						<input type="text" class="form-control" id="sexo" placeholder="Sexo" autofocus="autofocus" th:field="*{sexo}"/>
						
						<label for="cor">Cor</label>
						<input type="text" class="form-control" id="cor" placeholder="Cor" autofocus="autofocus" th:field="*{cor}"/>
						
						<label for="data_nascimento">Data de nascimento</label>
						<input type="text" class="form-control" id="data_nascimento" placeholder="Data de nascimento" autofocus="autofocus" th:field="*{data_nascimento}"/>
						
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" placeholder="Email" autofocus="autofocus" th:field="*{email}"/>
						
						<label for="estado_civil">Estado civil</label>
						<input type="text" class="form-control" id="estado_civil" placeholder="Estado civil" autofocus="autofocus" th:field="*{estado_civil}"/>
						
						<label for="escolaridade">Escolaridade</label>
						<input type="text" class="form-control" id="escolaridade" placeholder="Escolaridade" autofocus="autofocus" th:field="*{escolaridade}"/>
						
						<label for="profissao">Profissao</label>
						<input type="text" class="form-control" id="profissao" placeholder="Profissao" autofocus="autofocus" th:field="*{profissao}"/>
						
						<label for="recomandacao">Recomendação</label>
						<input type="text" class="form-control" id="recomendacao" placeholder="Recomendacao" autofocus="autofocus" th:field="*{recomendacao}"/>
						
						<label for="cep">CEP</label>
						<input type="text" class="form-control" id="cep" placeholder="cep" autofocus="autofocus" th:field="*{cep}"/>
						
						<label for="logradouro">Logradouro</label>
						<input type="text" class="form-control" id="logradouro" placeholder="Logradouro" autofocus="autofocus" th:field="*{logradouro}"/>
						
						<label for="numero">Numero</label>
						<input type="text" class="form-control" id="numero" placeholder="Numero" autofocus="autofocus" th:field="*{numero}"/>
						
						<label for="bairro">Bairro</label>
						<input type="text" class="form-control" id="bairro" placeholder="Bairro" autofocus="autofocus" th:field="*{bairro}"/>
						
						<label for="cidade">Cidade</label>
						<input type="text" class="form-control" id="cidade" placeholder="Cidade" autofocus="autofocus" th:field="*{cidade}"/>
						
						<label for="estado">Estado</label>
						<input type="text" class="form-control" id="estaod" placeholder="Estado" autofocus="autofocus" th:field="*{estado}"/>
						
						<label for="profissao">Profissao</label>
						<input type="text" class="form-control" id="profissao" placeholder="Profissao" autofocus="autofocus" th:field="*{profissao}"/>
						
						<label for="naturalidade">Naturalidade</label>
						<input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade" autofocus="autofocus" th:field="*{naturalidade}"/>
						
						<label for="nacionalidade">Nacionalidade</label>
						<input type="text" class="form-control" id="nacionalidade" placeholder="Nacionalidade" autofocus="autofocus" th:field="*{nacionalidade}"/>
						
						<label for="situacao">Situação</label>
						<input type="text" class="form-control" id="situacao" placeholder="Situação" autofocus="autofocus" th:field="*{situacao}"/>
						
						<label for="convenio_id">Convenio</label>
						<select id="convenio_id" class="form-control" th:field="*{convenio_id}">
							<option value="">Selecione</option>
							<option th:each="d : ${convenio}" th:value="${d.id}" th:text="${d.nome}"></option>
						</select>
						
						<label for="tipo_convenio_id">Tipo de convenio</label>
						<select id="tipo_convenio_id" class="form-control" th:field="*{tipo_convenio_id}">
							<option value="">Selecione</option>
							<option th:each="e : ${tipoconvenio}" th:value="${e.id}" th:text="${e.nome}"></option>
						</select>
						
						<label for="carteira_convenio">Carteira do convenio</label>
						<input type="text" class="form-control" id="carteira_convenio" placeholder="Carteira do convenio" autofocus="autofocus" th:field="*{carteira_convenio}"/>
						
						<input type="hidden" id="id" th:field="*{id}"/>
						<button type="submit">Salvar</button>
					</div>
				</div>
			</form>
		
		
		</div>
	
	
	</section>
</body>
</html>