<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="/css/style2.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>
	<script>
		$(document).ready(function() {
			$("#convenio_id").change(function() {
				var url = "http://localhost:8080/pacientes/convenio/" + $(this).val();
				$.ajax({
					url: url,
					method: "get",
					success: function(data) {
						$("#tipo_convenio_id").prop("disabled", false);
						var html = '<option value="" hidden>Selecione</option>';
						for(var i = 0; i < data.length; i++) {
							html += '<option value=' + data[i].id + '>' + data[i].nome + '</option>';
						}
						$("#tipo_convenio_id").html(html);
					},
				});
			});
		});
	</script>
  </head>

  <body>
    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a><h3>SisMed</h3></a>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" ><i class="fas fa-home" style="margin-right: 15px;"></i> Início</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-calendar-alt" style="margin-right: 15px;"></i> Agenda</a>
                </li>
                <li class="active">
                    <a href="/pacientes/listar"><i class="fas fa-user" style="margin-right: 15px; color: #0087cd;"></i> Pacientes</a>
                    
                </li>
                <li>
                    <a href="#"><i class="fas fa-user-md" style="margin-right: 15px;"></i> Funcionários</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-notes-medical" style="margin-right: 18px;"></i>Convênios</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-file-medical" style="margin-right: 18px;"></i>Regsitro Clínico</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-vial" style="margin-right: 15px;"></i>Laboratórios</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-briefcase-medical" style="margin-right: 15px;"></i>Exames</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-stream" style="margin-right: 15px;"></i>Relatório</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
              <div class="dropdown">
                <a class="dropbtn" data-toggle="dropdown" href="#">
  								<i class="fa fa-plus fa-fw"></i>Novo
                </a>
                <div class="dropdown-content">
                  <a href="#">Agendamento</a>
                  <a href="#">Paciente</a>
                  <a href="#">Funcionário</a>
                  <a href="#">Convênio</a>
                  <a href="#">Exame</a>
                  <a href="#">Laboratório</a>
                </div>
              </div>
              <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..."/>
                <button id="btn_search" class="btn"><i class="fas fa-search"></i></button>
              </div>
              <ul class="nav navbar-nav" style="margin-left: 900px; color: #fff">
                <li><p class="a mr-4" style="color: #fff; margin-bottom: 0px; font-size: 1em;">Bem vindo, Leonardo</p></li>
                <li style="margin-top: 2px;"><a href="#"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
              </ul>
            </div>
          </nav>
         </div>
          <div class="container-fluid" style="width: 98%">
          	<!-- <a href="/pacientes/listar" role="button"><i class="fas fa-chevron-left"></i> Voltar</a> -->
            <h3 style="display: inline; margin-left: 10px;">Cadastro | <strong>Paciente</strong></h3>
            <a class="btn btn-secondary float-right" href="/pacientes/listar" role="button" style="margin-right: 10px;">
              <i class="fas fa-chevron-left"></i> Voltar</a>

          <div class="card" style="margin-top: 25px; padding: 0px;">
            <div class="card-body">
              <form th:action="${paciente.id == null} ? @{/pacientes/salvar} : @{/pacientes/editar}" th:object="${paciente}" method="POST">
              		<h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Dados Pessoais</h5>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" placeholder="Nome do paciente" maxlength="40" autofocus="autofocus" th:field="*{nome}" 
							onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);"/>
						</div>
						<div class="form-group col-md-1">
							<label for="cpf">CPF</label>
							<input type="text" class="form-control" id="cpf" autofocus="autofocus" th:field="*{cpf}" mask="999.999.999-99"/>
						</div>
						<div class="form-group col-md-1">
							<label for="rg">RG</label>
							<input type="text" class="form-control" id="rg" placeholder="RG" autofocus="autofocus" th:field="*{rg}"/>
						</div>
						<div class="form-group col-md-1">
							<label for="orgao_emissor">Orgao emissor</label>
							<input type="text" class="form-control" id="orgao_emissor" placeholder="Orgao emissor" autofocus="autofocus" th:field="*{orgao_emissor}"
							onkeyup="maiuscula(this)" onkeypress="return ApenasLetras(event,this);"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="data_emissao">Data de emissão</label>
							<input type="date" class="form-control" id="data_emissao" placeholder="Data de emissao" autofocus="autofocus" th:field="*{data_emissao}"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="data_nascimento">Nascimento</label>
							<input type="date" class="form-control" id="data_nascimento" placeholder="Data de nascimento" autofocus="autofocus" th:field="*{data_nascimento}"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="sexo">Sexo</label>
							<select id="estado_civil" class="form-control" th:field="*{sexo}">
								<option value="FEMININO">FEMININO</option>
								<option value="MASCULINO">MASCULINO</option>
								<option value="NÃO DECLARADO">NÃO DECLARADO</option>
							</select>
						</div>
						<div class="form-group col-md-auto">
							<label for="estado_civil">Estado civil</label>
							<select id="estado_civil" class="form-control" th:field="*{estado_civil}">
								<option value="SOLTEIRO(A)">SOLTEIRO(A)</option>
								<option value="CASADO(A)">CASADO(A)</option>
								<option value="DIVORCIADO(A)">DIVORCIADO(A)</option>
								<option value="VIÚVO(A)">VIÚVO(A)</option>
							</select>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="naturalidade">Naturalidade</label>
							<input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade" autofocus="autofocus" th:field="*{naturalidade}"/>
						</div>
						<div class="form-group col-md-2">
							<label for="nacionalidade">Nacionalidade</label>
							<input type="text" class="form-control" id="nacionalidade" placeholder="Nacionalidade" autofocus="autofocus" th:field="*{nacionalidade}"/>
						</div>
						<div class="form-group col-md-1">
							<label for="telefone_fixo">Telefone fixo</label>
							<input type="text" class="form-control" id="telefone_fixo" placeholder="Telefone fixo" autofocus="autofocus" th:field="*{telefone_fixo}"/>
						</div>
						<div class="form-group col-md-1">
							<label for="telefone_trabalho">Telefone trab</label>
							<input type="text" class="form-control" id="telefone_trabalho" placeholder="Telefone trabalho" autofocus="autofocus" th:field="*{telefone_trabalho}"/>
						</div>
						<div class="form-group col-md-1">
							<label for="celular">Celular</label>
							<input type="text" class="form-control" id="celular" placeholder="Numero do celular" autofocus="autofocus" th:field="*{celular}"/>
						</div>
						<div class="form-group col-md-3">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email" placeholder="Email" maxlength="30" autofocus="autofocus" th:field="*{email}"/>
						</div>
						<div class="form-group col-md-2">
							<label for="recomandacao">Recomendação</label>
							<input type="text" class="form-control" id="recomendacao" placeholder="Recomendacao" autofocus="autofocus" th:field="*{recomendacao}"/>
						</div>
					</div>
	
					<br>
	
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="escolaridade"> Escolaridade</label> 
				   			<select id="escolaridade" class="form-control" th:field="*{escolaridade}">
								<option value="d">DOUTORADO</option>
								<option value="m">MESTRADO</option>
								<option value="esc">ENSINO SUPERIOR COMPLETO</option>
								<option value="esi">ENSINO SUPERIOR INCOMPLETO</option>
								<option value="emc">ENSINO MÉDIO COMPLETO</option>
								<option value="emi">ENSINO MÉDIO INCOMPLETO</option>
								<option value="efc">ENSINO FUNDAMENTAL COMPLETO</option>
								<option value="efi">ENSINO FUNDAMENTAL INCOMPLETO</option>
						
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="profissao">Profissao</label>
							<input type="text" class="form-control" id="profissao" placeholder="Profissao" autofocus="autofocus" th:field="*{profissao}"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="convenio_id">Convenio</label>
							<select id="convenio_id" class="form-control" >
								<option value="" selected hidden>Selecione</option>
								<option th:each="c : ${convenio}" th:value="${c.id}" th:text="${c.nome}"></option>
							</select>
						</div>
						<div class="form-group col-md-auto">
							<div id="teste">
								<label for="tipo_convenio_id">Tipo de convenio</label>
								<select id="tipo_convenio_id" class="form-control my-select" th:field="*{tipo_convenio}" disabled></select>
							</div>
						</div>
						<div class="form-group col-md-auto">
							<label for="carteira_convenio">Carteira do convenio</label>
							<input type="text" class="form-control" id="carteira_convenio" placeholder="Carteira do convenio" autofocus="autofocus" th:field="*{carteira_convenio}"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="validade">Validade</label>
							<input type="date" class="form-control" id="validade" placeholder="Validade" autofocus="autofocus" th:field="*{validade}"/>
						</div>
						<div class="form-group col-md-auto">
							<label for="situacao">Situação</label>
							<select type="text" class="form-control" id="situacao" placeholder="Situação" autofocus="autofocus" th:field="*{situacao}">
								<option value="ATIVO">ATIVO</option>
								<option value="INVATIVO">INVATIVO</option>
								<option value="FALECIDO">FALECIDO</option>
							</select>
						</div>
					</div>
	
					<br>
					<h5 style="margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;">Endereço</h5>
					<div class="form-row"> 
						<div class="form-group col-md-1">
							<label for="cep">CEP</label> 
							<input id="cep" type="text" class="form-control" th:field="*{endereco.cep}"  >
						</div>
						<div class="form-group col-md-6">
							<label for="logradouro">Logradouro</label> 
							<input id="logradouro" class="form-control" type="text" th:field="*{endereco.logradouro}" onkeyup="maiuscula(this)"  >
						</div>
						<div class="form-group col-md-1">
							<label for="numero">Número</label>
							 <input id="numero" type="text" class="form-control" th:field="*{endereco.numero}" >
						</div>
						<div class="form-group col-md-4">
							<label for="complemento">Complemento</label> 
							<input id="complemento" class="form-control" type="text" th:field="*{endereco.complemento}" >
						</div>
					</div>

					<div class="form-row"> 
						<div class="form-group col-md-5">
							<label for="bairro">Bairro</label> 
							<input id="bairro" type="text" class="form-control" th:field="*{endereco.bairro}"  >
						</div>
						<div class="form-group col-md-5 ">
							<label for="cidade">Cidade</label> 
							<input id="cidade" type="text" class="form-control" th:field="*{endereco.cidade}" >
						</div>
						<div class="form-group col-md-2 ">
							<label for="uf">Estado</label> 
							<select id="uf" class="form-control" th:field="*{endereco.estado}">
								<option value="" selected hidden>Selecione</option>
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AP">Amapá</option>
								<option value="AM">Amazonas</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceará</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espírito Santo</option>
								<option value="GO">Goiás</option>
								<option value="MA">Maranhão</option>
								<option value="MT">Mato Grosso</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MG">Minas Gerais</option>
								<option value="PA">Pará</option>
								<option value="PB">Paraíba</option>
								<option value="PR">Paraná</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piauí</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="RO">Rondônia</option>
								<option value="RR">Roraima</option>
								<option value="SC">Santa Catarina</option>
								<option value="SP">São Paulo</option>
								<option value="SE">Sergipe</option>
								<option value="TO">Tocantins</option>
							</select>
						</div>
					</div>
					<input type="hidden" id="id" th:field="*{id}"/>
					<input type="submit" class="btn btn-primary form-control col-md-2 float-right" style="margin-top: 10px;" value="Salvar">
				</form>
            </div>
          </div>
          </div>
		</div>
     
   

	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>