<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="/css/style2.css" rel="stylesheet"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a><h3>SisMed</h3></a>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" class="decoration" data-toggle="collapse" aria-expanded="false" ><i class="fas fa-home espaco"></i> Início</a>
                </li>
                <li>
                    <a href="#" class="decoration"><i class="fas fa-calendar-alt espaco"></i> Agenda</a>
                </li>
                <li class="active">
                    <a href="/pacientes/listar" class="decoration"><i class="fas fa-user corAtivo espaco"></i>Pacientes</a>
                </li>
                <li>
                    <a href="/funcionario/listar" class="decoration"><i class="fas fa-user-md espaco"></i> Funcionários</a>
                </li>
                <li>
                    <a href="/convenios/listar" class="decoration"><i class="fas fa-notes-medical espaco"></i>Convênios</a>
                </li>
                <li>
                    <a href="#" class="decoration"><i class="fas fa-file-medical espaco"></i>Regsitro Clínico</a>
                </li>
                <li>
                    <a href="/laboratorio/listar" class="decoration"><i class="fas fa-vial espaco" style="margin-right: 15px;"></i>Laboratórios</a>
                </li>
                <li>
                    <a href="/exame/listar" class="decoration"><i class="fas fa-briefcase-medical espaco"></i>Exames</a>
                </li>
                <li>
                    <a href="#" class="decoration"><i class="fas fa-stream espaco"></i>Relatório</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
          <nav class="navbar navbar-expand-lg">
			<div class="dropdown">
                <a class="dropbtn decoration" data-toggle="dropdown" href="#"><i class="fa fa-plus fa-fw"></i>Novo</a>
                <div class="dropdown-content">
                  	<a href="#">Agendamento</a>
					<a href="/pacientes/cadastrar">Paciente</a>
					<a href="/funcionario/cadastrar">Funcionário</a>
					<a href="/convenios/cadastrar">Convênio</a>
					<a href="/exame/cadastrar">Exame</a>
					<a href="/laboratorio/cadastrar">Laboratório</a>
                </div>
			</div>
			<div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..."/>
                <button id="btn_search" class="btn"><i class="fas fa-search"></i></button>
              </div>
			    <div class="collapse navbar-collapse justify-content-end" id="myNavbar7">
			        <ul class="navbar-nav" style="color: #fff; font-size: 0.9em;">
			            <li class="nav-item"><p class="mr-4" style="color: #fff; margin-bottom: 0px;">Bem vindo, Leonardo</p></li>
	                	<li class="nav-item" style="margin-top: 2px; margin-right: 25px;"><a href="#" class="decoration"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
			        </ul>
			    </div>
			</nav>
          
          <div class="container-fluid" style="width: 98%">
            <h3 style="display: inline;">Lista | <strong>Pacientes</strong></h3>
            <a class="btn btn-success float-right"  href="/pacientes/cadastrar"role="button">
              <i class="fas fa-plus"></i> Novo Paciente</a>

          <div class="card" style="margin-top: 25px;">
            <div class="card-body">
              <table class="table table-borderless">
   				<thead>
   					<tr style="color: #5d6266; font-size: 1em;">
   						<th>Prontuário</th>
   						<th>Nome</th>
   						<th>RG</th>
   						<th>CPF</th>
   						<th>Convênio</th>
   						<th>Tipo Convênio</th>
   						<th>Telefone Fixo</th>
   						<th>Celular</th>
   					</tr>
   				</thead>
   				<tbody th:each="p : ${paciente}">
             			<tr class="conteudo" style="font-size: 1em;">
   						<td style="width: 110px;"> <a th:text="${p.id}"></a>
   						</td>
   						<td style="width: 350px;"> <a th:href="@{/pacientes/editar/{id}/{cid} (id=${p.id}, cid=${p.tipo_convenio.convenio.id}) }" th:text="${p.nome}"></a>
   						</td>
   						<td> <a th:text="${p.rg}"></a>
   						</td>
   						<td> <a th:text="${p.cpf}"></a>
   						</td>
   						<td> <a th:text="${p.tipo_convenio.convenio.nome}"/></a>
   						</td>
   						<td> <a th:text="${p.tipo_convenio.nome}"/></a>
   						</td>
   						<td> <a th:text="${p.telefone_fixo}"/></a>
   						</td>
   						<td> <a th:text="${p.celular}"/></a>
   						</td>
   					</tr>
   				</tbody>

   			</table>
            </div>
          </div>
          </div>
		</div>
        </div>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>