<!DOCTYPE html>
<html layout:decorate="~{layout}">

	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<section layout:fragment="corpo">
		
			<nav aria-label="breadcrumb">
	 			<ol class="breadcrumb">
	    			<li class="breadcrumb-item active" aria-current="page">Pacientes</li>
	  			</ol>
			</nav>

			<nav class="navbar">
				<a class="btn btn btn-md"
					style="background-color: #D7E7F9; margin-top: 5px; margin-left: 20px"
					href="/pacientes/cadastrar" role="button"> <span
					class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
					<span>Cadastrar Paciente</span>
				</a>
				<div th:replace="fragmentos/alert"></div>
			</nav>
			
			<br>
			
			<div class="container"  th:each = "p : ${paciente}">
				<a class="btn btn-info btn-sm" th:href="@{/pacientes/editar/{id} (id=${p.id}) }" role="button">
					<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
				</a>
				<a  th:href="@{/pacientes/excluir/{id} (id=${p.id}) }" type="button" class="btn btn-danger btn-sm"
					data-toggle="modal" data-target="#myModal">
					<span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
				</a>
				
				<a class="btn btn-info btn-sm" th:href="@{/pacientes/detalhes/{id} (id=${p.id}) }" role="button">
					<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
				</a>
				
				<br><br>
				
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:value="${p.nome}" disabled>
						<div class="invalid-feedback">
						</div>
					</div>
					<div class="form-group col-md-2">
						<label for="cpf">CPF</label>
						<input type="text" class="form-control" id="cpf" th:value="${p.cpf}" disabled>
						<div class="invalid-feedback">
						</div>
					</div>
					<div class="form-group col-md-2">
						<label for="rg">RG</label>
						<input type="text" class="form-control" id="rg" th:value="${p.rg}" disabled>
						<div class="invalid-feedback">
						</div>
					</div>
					<div class="form-group col-md-2">
						<label for="orgao_emissor">Orgão emissor</label>
						<input type="text" class="form-control" id="orgao_emissor" th:value="${p.orgao_emissor}" disabled/>
						<div class="invalid-feedback">
						</div>
					</div>
					<div class="form-group col-md-2">
						<label for="data_emissao">Data de emissão</label>
						<input type="text" class="form-control" id="data_emissao" th:value="${#temporals.format(p.data_emissao, 'dd/MM/yyyy')}" disabled/>
						<div class="invalid-feedback">
						</div>
					</div>
				</div>
				
				
				
				<br><br>
								
			</div>
			
			<div th:replace="fragmentos/modal :: modal"></div>
		</section>
		
	</body>
	
</html>