<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
  	<section layout:fragment="corpo">
          
         <div class="container-fluid" style="width: 98%">
           <h3 style="display: inline;">Lista | <strong>Pacientes</strong></h3>
           <a class="btn btn-success float-right"  href="/pacientes/cadastrar"role="button">
             <i class="fas fa-plus"></i> Novo Paciente</a>

         <div class="card" style="margin-top: 25px;">
           <div class="card-body">
             <table class="table table-borderless">
  				<thead>
  					<tr style="color: #5d6266; font-size: 1em;">
  						<th>Prontuário</th>
  						<th>Nome</th>
  						<th>RG</th>
  						<th>CPF</th>
  						<th>Convênio</th>
  						<th>Tipo Convênio</th>
  						<th>Telefone Fixo</th>
  						<th>Celular</th>
  					</tr>
  				</thead>
  				<tbody th:each="p : ${paciente}">
            			<tr class="conteudo" style="font-size: 1em;">
  						<td style="width: 110px;"> <a th:text="${p.id}"></a>
  						</td>
  						<td style="width: 350px;"> <a th:href="@{/pacientes/editar/{id}/{cid} (id=${p.id}, cid=${p.tipo_convenio.convenio.id}) }" th:text="${p.nome}"></a>
  						</td>
  						<td> <a th:text="${p.rg}"></a>
  						</td>
  						<td> <a th:text="${p.cpf}"></a>
  						</td>
  						<td> <a th:text="${p.tipo_convenio.convenio.nome}"/></a>
  						</td>
  						<td> <a th:text="${p.tipo_convenio.nome}"/></a>
  						</td>
  						<td> <a th:text="${p.telefone_fixo}"/></a>
  						</td>
  						<td> <a th:text="${p.celular}"/></a>
  						</td>
  					</tr>
  				</tbody>

  			</table>
           </div>
         </div>
         </div>
         </section>


  </body>
</html>